<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <nav class="moj-sub-navigation" aria-label="Sub navigation" data-qa="navigation">
      <ul class="moj-sub-navigation__list">
        {% if flags.enableNavOverview === true %}
        <li class="moj-sub-navigation__item" data-qa="overviewTab">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'overview' %}
            aria-current="page"
            {% endif %}
            href="/case/{{ crn }}">Overview</a>
        </li>
        {% endif %}
        {% if flags.enableNavAppointments === true %}
        <li class="moj-sub-navigation__item" data-qa="appointmentsTab">
          <a data-ai-id="AppointmentsTab" class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'appointments' %}
            aria-current="page"
            {% endif %}
            href="/case/{{ crn }}/appointments">Appointments</a>
        </li>
        {% endif %}
        {% if flags.enableNavPersonalDetails === true %}
        <li class="moj-sub-navigation__item" data-qa="personalDetailsTab">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'personal-details' %}
            aria-current="page"
            {% endif %}
            href="/case/{{ crn }}/personal-details">Personal details</a>
        </li>
        {% endif %}
        {% if flags.enableNavRisk === true %}
        <li class="moj-sub-navigation__item" data-qa="riskTab">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'risk' %}
            aria-current="page"
            {% endif %}
            href="/case/{{ crn }}/risk">Risk</a>
        </li>
        {% endif %}
        {% if flags.enableNavSentence === true %}
        <li class="moj-sub-navigation__item" data-qa="sentenceTab">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'sentence' %}
            aria-current="page"
            {% endif %}
            href="/case/{{ crn }}/sentence">Sentence</a>
        </li>
        {% endif %}
        {% if flags.enableNavActivityLog === true %}
        <li class="moj-sub-navigation__item" data-qa="activityLogTab">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'timeline' %}
            aria-current="page"
            {% endif %}
            href="/case/{{ crn }}/activity-log">Activity log</a>
        </li>
        {% endif %}
        {% if flags.enableNavCompliance === true %}
        <li class="moj-sub-navigation__item" data-qa="complianceTab">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'compliance' %}
            aria-current="page"
            {% endif %}
            href="/case/{{ crn }}/compliance">Compliance</a>
        </li>
        {% endif %}
        {% if flags.enableNavInterventions === true %}
        <li class="moj-sub-navigation__item" data-qa="interventionsTab">
          <a class="moj-sub-navigation__link govuk-link--no-visited-state"
            {% if currentNavSection == 'interventions' %}
            aria-current="page"
            {% endif %}
            href="/case/{{ crn }}/interventions">Interventions</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
</div>