{% extends "../partials/layout.njk" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{% include "../partials/case-user-banner.njk" %}
{% include "../partials/case-nav.njk" %}
{% if currentSectionName %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7" data-qa="pageHeading">{{ currentSectionName }}</h1>
{% endif %}

{% set errors = [] %}
{% if risks.errors.length > 0 %}
    {% set errors = errors.concat(risks.errors) %}
{% endif %}
{% if tierCalculation.errors.length > 0 %}
    {% set errors = errors.concat(tierCalculation.errors) %}
{% endif %}
{% if interventions.errors.length > 0 %}
    {% set errors = errors.concat(interventions.errors) %}
{% endif %}
{% if errors.length > 0 %}
    <span data-qa="errors">{{ govukErrorSummary({ titleText: "There is a problem", errorList: errors }) }}</span>
{% endif %}
{% block pageContent %}{% endblock %}
{% endblock %}


