{% extends "../partials/layout.njk" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
{% include "../partials/case-user-banner.njk" %}
{% include "../partials/case-nav.njk" %}
{% if currentSectionName %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7" data-qa="pageHeading">{{ currentSectionName }}</h1>
{% endif %}
{% if warnings.length %}
    {{ govukErrorSummary({ titleText: "There is a problem", errorList: warnings }) }}
{% endif %}
{% block pageContent %}{% endblock %}
{% endblock %}


