{% extends "../partials/layout.njk" %}
{% set mainClasses = "app-container govuk-body" %}


{% block content %}
    {% set html %}
        <p class="govuk-notification-banner__heading">
            We’re not ready to handle this case
        </p>
        <p>You may find that:</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>not all information is shown</li>
            <li>some information shows incorrectly</li>
        </ul>
    {% endset %}

    {% if data.features.showInappropriateCaseWarning %}
        {{ govukNotificationBanner({
            html: html
        }) }}
    {% endif %}

    <div class="govuk-width-container">
        <div class="moj-page-header-actions govuk-!-static-margin-bottom-0">
            <div class="moj-page-header-actions__title">
                <ul class="govuk-list govuk-caption-m inline-list-from-tablet">
                    <li>CRN:
                        <span data-qa='crn'>{{ headerCRN }}</span>
                        <span class='govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile'>|</span>
                    </li>
                    <li>Date of birth:
                        <span data-qa='headerDateOfBirthValue'>{{ headerDob | dateWithYear }}</span>
                        (age <span data-qa='headerDateOfBirthAge'>{{ headerDob | yearsSince }}</span>)
                        <span class='govuk-!-padding-left-3 govuk-!-padding-right-3 hide-mobile'>|</span>
                    </li>
                    <li>Tier:
                        <span data-qa='tierValue'>{{ tierCalculation.tierScore }}</span>
                    </li>
                </ul>
                <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
                    <span data-qa='name'>{{ headerPersonName }}</span>
                </h1>
            </div>
            <div class="moj-page-header-actions__actions">
                {% block headerActions %}
                {% endblock %}
            </div>
        </div>
    </div>
{% include "../partials/case-nav.njk" %}
{% if currentSectionName %}
    <h1 class="govuk-heading-l govuk-!-margin-bottom-7" data-qa="pageHeading">{{ currentSectionName }}</h1>
{% endif %}

{% set errors = [] %}
{% if risks.errors.length > 0 %}
    {% set errors = errors.concat(risks.errors) %}
{% endif %}
{% if tierCalculation.errors.length > 0 %}
    {% set errors = errors.concat(tierCalculation.errors) %}
{% endif %}
{% if interventions.errors.length > 0 %}
    {% set errors = errors.concat(interventions.errors) %}
{% endif %}
{% if errors.length > 0 %}
    <span data-qa="errors">{{ govukErrorSummary({ titleText: "There is a problem", errorList: errors }) }}</span>
{% endif %}
{% block pageContent %}{% endblock %}
{% endblock %}


