{% extends "govuk/template.njk" %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "_components/summary-card/macro.njk"             import appSummaryCard %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "_components/compliance-tag/macro.njk"           import appComplianceTag %}
{% from "_components/pagination/macro.njk"           import appPagination %}
{% from "govuk/components/radios/macro.njk"             import govukRadios %}
{% from "moj/components/pagination/macro.njk"           import mojPagination %}
{% from "govuk/components/pagination/macro.njk"         import govukPagination %}
{% from "govuk/components/input/macro.njk"               import govukInput %}
{% from "govuk/components/select/macro.njk"              import govukSelect %}
{% from "govuk/components/panel/macro.njk"               import govukPanel %}
{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{% block head %}
  <link href="/assets/css/app.css?{{ version }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
  {% block banner %}{% endblock %}

{% endblock %}

{% block bodyStart %}
{% endblock %}
{% block footer %}
  {{ govukFooter({
        meta: {
          items: [
            {
              href: "/accessibility-info",
              text: "Accessibility"
            }
          ]
        }
      }) }}
{% endblock %}
{% block bodyEnd %}
  {% if sentry and sentry.loaderScriptId %}
    <script nonce="{{ cspNonce }}">
      window.sentryOnLoad = function() {
        Sentry.init({
          release: "hmpps-manage-people-on-probation-ui@{{ version }}",
          environment: "{{ sentry.environment }}",
          tracesSampleRate: {{ sentry.tracesSampleRate }},
          replaysSessionSampleRate: {{ sentry.replaySampleRate }},
          replaysOnErrorSampleRate: {{ sentry.replayOnErrorSampleRate }},
          initialScope: {
            user: { username: "{{ user.username }}" },
          },
        });
      };
    </script>
    <script src="https://js.sentry-cdn.com/{{ sentry.loaderScriptId }}.min.js" nonce="{{ cspNonce }}" crossorigin="anonymous"></script>
  {% endif %}
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/js/jquery.min.js"></script>
    <script type="module" src="/assets/js/app.js"></script>

 <script nonce="{{ cspNonce }}">
    document.addEventListener('DOMContentLoaded', function () {
      document.initialiseTelemetry(
        '{{ applicationInsightsConnectionString | default('') }}',
        '{{ applicationInsightsRoleName }}',
        '{{ user.username }}'
      )
    })
  </script>
{% endblock %}
