{% extends "govuk/template.njk" %}
{% from "govuk/components/summary-list/macro.njk"        import govukSummaryList %}
{% from "_components/summary-card/macro.njk"             import appSummaryCard %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/table/macro.njk" import govukTable %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk"        import govukWarningText %}
{% from "govuk/components/tag/macro.njk"                 import govukTag %}
{% from "govuk/components/button/macro.njk"              import govukButton %}
{% from "govuk/components/details/macro.njk"             import govukDetails %}
{% from "_components/compliance-tag/macro.njk"           import appComplianceTag %}
{% from "govuk/components/radios/macro.njk"             import govukRadios %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
  {% block banner %}{% endblock %}

{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="/assets/govukFrontendInit.js"></script>
  <script src="/assets/moj/all.js"></script>
  <script src="/assets/mojFrontendInit.js"></script>
{% endblock %}
