{% set addressTitle %}
<span class="govuk-heading-m govuk-!-margin-bottom-0 govuk-!-font-weight-bold">
  {% if address.to %}
    {{ address.status }} address – {{ address.from | dateWithYearShortMonth }} to {{ address.to | dateWithYearShortMonth }}
  {% else %}
    {{ address.status }} address – Since {{ address.from | dateWithYearShortMonth }}
  {% endif %}
  </span>
{% endset %}

{% set addressHtml %}
  {% set fullAddress %}
    {% if address.noFixedAddress %}
      No fixed address
    {% else %}
      {{ addressToList(address).join('<br>') | safe }}
    {% endif %}
  {% endset %}

  {% set notes = '' %}
  {% set hasNote = address.addressNote %}
  {% if address.addressNotes  %}
    {% for addressNote in address.addressNotes %}
      {% set note %}
        {% if addressNote.hasNoteBeenTruncated === true  %}
          <p class="govuk-body line-break govuk-!-margin-bottom-1">{{ addressNote.note }}...<a href="/case/{{ crn }}/personal-details/addresses/{{ address.id }}/note/{{ addressNote.id }}">View full note</a>
          </p>
        {% else %}
          <p class="govuk-body line-break govuk-!-margin-bottom-1">{{ addressNote.note }} </p>
        {% endif %}

        {% if addressNote.createdBy %}
          {% if loop.last %}
            <p class="govuk-body-s secondary-text">Comment added by {{ addressNote.createdBy }} on {{ addressNote.createdByDate | dateWithYear }}</p>
          {% else %}
            <p class="govuk-body-s secondary-text govuk-!-padding-bottom-2">Comment added by {{ addressNote.createdBy }} on {{ addressNote.createdByDate | dateWithYear }}</p>
          {% endif %}
        {% else %}
          {% if loop.last %}
            <p class="govuk-body-s secondary-text">Comment added by not entered</p>
          {% else %}
            <p class="govuk-body-s secondary-text govuk-!-padding-bottom-2">Comment added by not entered</p>
          {% endif %}
        {% endif %}
      {% endset %}
      {% set notes = notes.concat(note) %}
    {% endfor  %}
  {% elseif address.addressNote %}
    {% set note = address.addressNote.note %}
  {% endif %}

  {{ govukSummaryList({
    rows: [
      {
        key: { html: '<span data-qa="' + addressType + 'StatusLabel' + loopIndex +'">Status</span>' },
        value: { html: '<span data-qa="' + addressType + 'StatusValue' + loopIndex +'">' + address.status + ' address</span>' }
      },
      {
        key: { html: '<span data-qa="' + addressType + 'Label' + loopIndex +'">Address</span>' },
        value: { html: '<span data-qa="' + addressType + 'Value' + loopIndex +'">' + fullAddress + '</span>' }
      },
      {
        key: { html: '<span data-qa="' + addressType + 'TelephoneLabel">Address telephone</span>' },
        value: { html: '<span data-qa="' + addressType + 'TelephoneValue' + loopIndex +'">' + address.telephoneNumber + '</span>' }
      } if address.telephoneNumber,
      {
        key: { html: '<span data-qa="' + addressType + 'TypeLabel' + loopIndex +'">Type of address</span>' },
        value: { html: '<span data-qa="' + addressType + 'TypeValue' + loopIndex +'">' + address.type + (' (verified)</span>' if address.verified else ' (not verified)') + '</span>' }
      } if address.type,
      {
        key: { html: '<span data-qa="' + addressType + 'StartDateLabel' + loopIndex +'">Start date</span>' },
        value: { html: '<span data-qa="' + addressType + 'StartDateValue' + loopIndex +'">' + address.from | dateWithYear + '</span>'}
      },
      {
        key: { html: '<span data-qa="' + addressType + 'EndDateLabel' + loopIndex +'">End date</span>' },
        value: { html: '<span data-qa="' + addressType + 'EndDateValue' + loopIndex +'">' + address.endDate | dateWithYear + '</span>' }
      } if address.endDate,
      {
        key: { html: '<span data-qa="' + addressType + 'NoteBaddedByLabel' + loopIndex +'">Note added by</span>' },
        value: { html: '<span data-qa="' + addressType + 'NoteBaddedByValue' + loopIndex +'">' + address.addressNote.createdBy + '</span>' }
      } if address.addressNote.createdBy,
      {
        key: { html: '<span data-qa="' + addressType + 'DateAddedLabel' + loopIndex +'">Date added</span>' },
        value: { html: '<span data-qa="' + addressType + 'DateAddedValue' + loopIndex +'">' + address.addressNote.createdByDate | dateWithYear + '</span>' }
      } if address.addressNote.createdByDate,
      {
        key: { html: '<span data-qa="' + addressType + 'NotesLabel' + loopIndex +'">Notes</span>' },
        value: { html: notes if notes else 'No notes' }
      } if not hasNote,
      {
        key: { html: '<span data-qa="' + addressType + 'NotesLabel' + loopIndex +'">Note</span>' },
        value: { html: '<span class="govuk-body line-break">' + note + '</span>' if note else 'No note' }
      } if hasNote
    ]
  }) }}

  <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
    <span data-qa="{{addressType}}LastUpdatedByValue{{loopIndex}}">{{ lastUpdatedBy(address.lastUpdated, address.lastUpdatedBy)}}</span>
  </p>
{% endset %}

{{ appSummaryCard({
    titleHtml: addressTitle,
    headingLevel: 3,
    classes: 'govuk-!-margin-bottom-6',
    html: addressHtml
}) }}
