{% set addressTitle %}
  {% if address.to %}
    {{ address.status }} address – {{ address.from | dateWithYearShortMonth }} to {{ address.to | dateWithYearShortMonth }}
  {% else %}
    {{ address.status }} address – Since {{ address.from | dateWithYearShortMonth }}
  {% endif %}
{% endset %}

{% set addressHtml %}
  {% set fullAddress %}
    {% if address.noFixedAbode %}
      No fixed abode<br />
      {{ address.type }}
    {% endif %}

    {{ addressToList(address).join('<br>') | safe }}
  {% endset %}

  {{ govukSummaryList({
    rows: [
      {
        key: { html: '<span data-qa="' + addressType + 'StatusLabel' + loopIndex +'">Status</span>' },
        value: { html: '<span data-qa="' + addressType + 'StatusValue' + loopIndex +'">' + address.status + ' address</span>' }
      },
      {
        key: { html: '<span data-qa="' + addressType + 'Label' + loopIndex +'">Address</span>' },
        value: { html: '<span data-qa="' + addressType + 'Value' + loopIndex +'">' + fullAddress + '</span>' }
      },
      {
        key: { html: '<span data-qa="' + addressType + 'TelephoneLabel">Address telephone</span>' },
        value: { html: '<span data-qa="' + addressType + 'TelephoneValue' + loopIndex +'">' + address.telephoneNumber + '</span>' }
      } if address.telephoneNumber,
      {
        key: { html: '<span data-qa="' + addressType + 'TypeLabel' + loopIndex +'">Type of address</span>' },
        value: { html: '<span data-qa="' + addressType + 'TypeValue' + loopIndex +'">' + address.type + (' (verified)</span>' if address.verified else ' (not verified)') + '</span>' }
      } if address.type,
      {
        key: { html: '<span data-qa="' + addressType + 'StartDateLabel' + loopIndex +'">Start date</span>' },
        value: { html: '<span data-qa="' + addressType + 'StartDateValue' + loopIndex +'">' + address.from | dateWithYear + '</span>'}
      },
      {
        key: { html: '<span data-qa="' + addressType + 'EndDateLabel' + loopIndex +'">End date</span>' },
        value: { html: '<span data-qa="' + addressType + 'EndDateValue' + loopIndex +'">' + address.endDate | dateWithYear + '</span>' }
      } if address.endDate,
      {
        key: { html: '<span data-qa="' + addressType + 'NotesLabel' + loopIndex +'">Notes</span>' },
        value: { html: '<span data-qa="' + addressType + 'NotesValue' + loopIndex +'">' + address.notes + '</span>' | nl2br if address.notes else '<span data-qa="' + addressType + 'NotesValue' + loopIndex +'">No notes</span>'}
      }
    ]
  }) }}

  <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
    <span data-qa="{{addressType}}LastUpdatedByValue{{loopIndex}}">{{ lastUpdatedBy(address.lastUpdated, address.lastUpdatedBy)}}</span>
  </p>
{% endset %}

{{ appSummaryCard({
    titleText: addressTitle,
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    html: addressHtml
}) }}
