{% extends "../../partials/layout.njk" %}
{% set title = 'Addresses' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "My cases",
      href: "/case"
    },
    {
      text: addressOverview.personSummary.name | fullName,
      href: "/case/" + crn
    },
    {
      text: "Personal details",
      href: "/case/" + crn + "/personal-details"
    },
    {
      text: title
    }
  ]
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">{{ title }}</h1>


<!-- {{ govukWarningText({
  html: 'There is no main address<br><a href="#">Add a main address in Delius</a>',
  iconFallbackText: 'Warning'
}) }} -->

{% set address = addressOverview.mainAddress %}
<span data-qa="mainAddressSection">
    {% set addressType = 'address' %}
    {% set loopIndex = '' %}
    {% include './_address.njk' %}
</span>

{% if addressOverview.otherAddresses.length > 0 %}
    <h2 class="govuk-heading-l govuk-!-margin-top-8">Other addresses</h2>
    {% set addressType = 'otherAddress' %}
    {% for address in addressOverview.otherAddresses %}
        {% set loopIndex = loop.index %}
        <span data-qa="otherAddress{{loop.index}}Section">
            {% include './_address.njk' %}
        </span>
    {% endfor %}
{% endif %}

{% if addressOverview.previousAddresses.length > 0 %}
    <h2 class="govuk-heading-l govuk-!-margin-top-8">Previous addresses</h2>
    {% set addressType = 'previousAddress' %}
    {% for address in addressOverview.previousAddresses %}
        {% set loopIndex = loop.index %}
        <span data-qa="previousAddress{{loop.index}}Section">
            {% include './_address.njk' %}
        </span>
    {% endfor %}
{% endif %}

{% endblock %}
