{% extends "../../partials/layout.njk" %}
{% set title = 'Addresses' %}
{% set pageTitle = makePageTitle({ pageHeading: [title, "Personal details"] }) %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "My cases",
      href: "/case"
    },
    {
      text: addressOverview.personSummary.name | fullName,
      href: "/case/" + crn,
      attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
    },
    {
      text: "Personal details",
      href: "/case/" + crn + "/personal-details"
    },
    {
      text: title
    }
  ]
}) }}
{% endblock %}

{% block content %}
<h1 class="govuk-heading-l" data-qa="pageHeading">{{ title }}</h1>
{% set address = addressOverview.mainAddress %}

    <h2 class="govuk-heading-m govuk-!-margin-top-8">Main address</h2>
  
    <span data-qa="mainAddressSection">
      {% if addressOverview.mainAddress %}
        {% set addressType = 'address' %}
        {% set loopIndex = '' %}
        {% include './_address.njk' %}
        {% else %}
        <p class="govuk-!-margin-bottom-2">There is no main address.</p>
        <p><a href="/case/{{crn}}/personal-details/edit-contact-details">Add main address</a>.</p>
        {% endif %}
    </span>
    {% if addressOverview.otherAddresses.length > 0 %}
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Other addresses</h2>
    <p>
        <a href="{{ deliusDeepLinkUrl('AddressandAccommodation', crn) }}" target="_blank">Edit all other addresses on NDelius (opens in new tab)</a>
    </p>
    {% set addressType = 'otherAddress' %}
    {% for address in addressOverview.otherAddresses %}
        {% set loopIndex = loop.index %}
        <span data-qa="otherAddress{{loop.index}}Section">
            {% include './_address.njk' %}
        </span>
    {% endfor %}
{% endif %}

{% if addressOverview.previousAddresses.length > 0 %}
    <h2 class="govuk-heading-m govuk-!-margin-top-8">Previous addresses</h2>
    {% set addressType = 'previousAddress' %}
    {% for address in addressOverview.previousAddresses %}
        {% set loopIndex = loop.index %}
        <span data-qa="previousAddress{{loop.index}}Section">
            {% include './_address.njk' %}
        </span>
    {% endfor %}
{% endif %}

{% endblock %}
