{% extends "../../partials/layout.njk" %}
{% set title = 'Disabilities' %}
{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "My cases",
      href: "/case"
    },
    {
      text: disabilities.personSummary.name | fullName,
      href: "/case/" + crn,
      attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
    },
    {
      text: "Personal details",
      href: "/case/" + disabilities.personSummary.crn + "/personal-details"
    },
    {
      text: title
    }
  ]
}) }}
{% endblock %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block content %}
<h1 class="govuk-heading-l" data-qa="pageHeading">{{title}}</h1>
<p>
  <a href="{{ deliusDeepLinkUrl('EqualityMonitoring', crn) }}" target="_blank">Change disability information on NDelius (opens in new tab)</a>
</p>


{% for disability in disabilities.disabilities %}
  {% set notes = '' %}
  {% for disabilityNote in disability.disabilityNotes %}
    {% set note %}
      {% if disabilityNote.hasNoteBeenTruncated === true  %}
        <p class="govuk-body line-break govuk-!-margin-bottom-1">{{ disabilityNote.note }}...<a href="/case/{{ crn }}/personal-details/disability/{{ disability.disabilityId }}/note/{{ disabilityNote.id }}">View full note</a>
        </p>
      {% else %}
        <p class="govuk-body line-break govuk-!-margin-bottom-1">{{ disabilityNote.note }} </p>
      {% endif %}

      {% if disabilityNote.createdBy %}
        <p class="govuk-body-s secondary-text govuk-!-padding-bottom-2">Comment added by {{ disabilityNote.createdBy }} on {{ disabilityNote.createdByDate | dateWithYear }}</p>
      {% else %}
        <p class="govuk-body-s secondary-text govuk-!-padding-bottom-2">Comment added by not entered</p>
      {% endif %}
    {% endset %}
    {% set notes = notes.concat(note) %}
  {% endfor  %}

  {% set disabilitiesHtml %}
    {{ govukSummaryList({
      rows: [
        {
          key: { text: "Disability" },
          value: { text: disability.description }
        },
        {
          key: { text: "Start date" },
          value: { text: disability.startDate | dateWithYear }
        },
        {
          key: { text: "End date" },
          value: { text: disability.endDate | dateWithYear }
        } if disability.endDate,
        {
          key: { text: "Notes" },
          value: { html: notes if notes else 'No notes' }
        }
      ]
    }) }}

    <p class="govuk-!-margin-bottom-0 govuk-!-margin-top-4 govuk-body-s govuk-hint-s">
        {{ lastUpdatedBy(disability.lastUpdated, disability.lastUpdatedBy)}}
    </p>
  {% endset %}

  {{ appSummaryCard({
    titleText: disability.description,
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    html: disabilitiesHtml,
    actions: {}
  }) }}
{% endfor %}

{% endblock %}