{% if sentence.compliance.breachStarted %}
  {%- switch sentence.compliance.priorBreachesOnCurrentOrderCount -%}
    {%- case 0 -%}
      No prior breaches on current order
    {%- case 1 -%}
      1 prior breach on current order
    {%- default -%}
      {{ sentence.compliance.priorBreachesOnCurrentOrderCount }} prior breaches on current order
  {%- endswitch -%}
{% else %}
  {%- switch sentence.compliance.breachesOnCurrentOrderCount -%}
    {%- case 0 -%}
      No breaches on current order
    {%- case 1 -%}
      1 breach on current order
    {%- default -%}
      {{ sentence.compliance.breachesOnCurrentOrderCount }} breaches on current order
  {%- endswitch -%}
{% endif %}
