{% if compliance.breachStarted %}
  {%- switch compliance.breachesOnCurrentOrderCount -%}
    {%- case 0 -%}
      No prior breaches on current order
    {%- case 1 -%}
      1 prior breach on current order
    {%- default -%}
      {{ compliance.breachesOnCurrentOrderCount }} prior breaches on current order
  {%- endswitch -%}
{% else %}
  {%- switch compliance.breachesOnCurrentOrderCount -%}
    {%- case 0 -%}
      No breaches on current order
    {%- case 1 -%}
      1 breach on current order
    {%- default -%}
      {{ compliance.breachesOnCurrentOrderCount }} breaches on current order
  {%- endswitch -%}
{% endif %}
