{%- from "govuk/components/tag/macro.njk" import govukTag -%}
{% set isCompact = params.compact %}
{% set entry = params.entry %}

{% if entry.rescheduled %}
  {% set text = 'Rescheduled' %}
  {% set shorthand = '⟳' %}
  {% set colour = 'blue' %}
{% elseif entry.didTheyComply === true %}
  {% set text = 'Complied' %}
  {% set shorthand = '✓' %}
  {% set colour = 'green' %}
{% elseif entry.wasAbsent === true %}
  {% if entry.acceptableAbsence === true %}
    {% set text = 'Acceptable absence' %}
    {% set shorthand = '✓' %}
    {% set colour = 'green' %}
  {% elseif entry.absentWaitingEvidence === true %}
    {% set text = 'Waiting for evidence' %}
    {% set shorthand = '?' %}
    {% set colour = 'yellow' %}
  {% elseif entry.acceptableAbsence === false %}
    {% set text = 'Unacceptable absence' %}
    {% set shorthand = '✘' %}
    {% set colour = 'red' %}
  {% endif %}
{% elseif entry.didTheyComply === false %}
  {% set text = 'Failed to comply' %}
  {% set shorthand = '✘' %}
  {% set colour = 'red' %}
{% endif %}

{% set tagClasses = 'app-compliance-tag govuk-tag--' + colour + ' ' + params.classes + (' app-compliance-tag--compact' if isCompact) %}
{% if text %}
  {% if isCompact %}
    {% set html %}
      {{ shorthand }}<span class="govuk-visually-hidden">{{ text }}</span>
    {% endset %}
    <span class="app-compliance-tag--compact" style="float: right" title="{{ text }}">
      {{ govukTag({ html: html, classes: tagClasses }) }}
    </span>
  {% else %}
    {{ govukTag({ text: text, classes: tagClasses }) }}
  {% endif %}
{% endif %}
