{% if appointment.isInitial %}
  Initial appointment
{% elseif appointment.isNationalStandard %}
  National standard appointment
{% elseif appointment.isAppointment %}
  Appointment
{% elseif appointment.isCommunication %}
  Communication
{% elseif appointment.isSystemContact %}
  System Generated
{% endif %}
