{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-0' if noMargin else 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: {
        html: '<span data-qa="appointmentDescriptionLabel">Description</span>'
      },
      value: {
        text: '<span data-qa="appointmentDescriptionValue">' + appointment.type + '</span>'
      }
    } if appointment.description,
    {
      key: { html: '<span data-qa="appointmentRescheduleLabel">Reschedule</span>' },
      value: { html: '<span data-qa="appointmentRescheduleValue">Requested by ' + appointment.rescheduledBy | fullName + '</span>'}
    } if appointment.rescheduledBy,
    {
      key: { html: '<span data-qa="rearrangingLabel">Reason for rearranging</span>' },
      value: { html: '<span data-qa="rearrangingValue">' + appointment.rearrangeOrCancelReason + '</span>' },
      actions: {
        items: [
          {
            href: '/case/' + crn + '/handoff/delius',
            text: "Change"
          }
        ]
      }
    } if appointment.rearrangeOrCancelReason,
    {
      key: { html: '<span data-qa="typeLabel">Type of appointment</span>' },
      value: { html: '<span data-qa="typeValue">' + appointmentType + '</span>' }
    },
    {
      key: { html: '<span data-qa="locationLabel">Location</span>' },
      value: { html: '<span data-qa="locationValue">' + addressToList(appointment.location).join('<br>') | safe + '</span>' }
    } if appointment.location,
    {
      key: { html: '<span data-qa="dateLabel">Date</span>' },
      value: { html: '<span data-qa="dateValue">' + appointment.startDateTime | dateWithDayAndWithoutYear + '</span>'}
    },
    {
      key: { html:  '<span data-qa="timeLabel">Time</span>' },
      value: { html: '<span data-qa="timeValue">' + appointment.startDateTime | govukTime + ' to ' + appointment.endDateTime | govukTime + '</span>'}
    },
    {
      key: { html: '<span data-qa="repeatingLabel">Repeating appointment</span>' },
      value: { html: '<span data-qa="repeatingValue">' + appointment.repeating  | toYesNo + '</span>'}
    } if appointment.repeating,
    {
      key: { html: '<span data-qa="rarLabel">RAR toolkit</span>' },
      value: { html: '<span data-qa="rarValue">' + appointment.rarCategory + '</span>'}
    } if appointment.rarCategory,
    {
      key: { html: '<span data-qa="rarActivityLabel">RAR activity</span>' },
      value: { html: '<span data-qa="rarActivityValue">' + appointment.countsTowardsRAR | toYesNo + '</span>' }
    } if not appointment.hasOutcome,
    {
      key: { html: '<span data-qa="notesLabel">Appointment notes</span>' },
      value: { html: '<span data-qa="notesValue">' + (appointment.notes | nl2br | safe) + '</span>'  if appointment.notes else '<span data-qa="notesValue">None</span>' }
    } if not appointment.hasOutcome,
    {
      key: { html: '<span data-qa="sensitiveLabel">Sensitive</span>'  },
      value: { html: '<span data-qa="sensitiveLabel">' + appointment.isSensitive | toYesNo + '</span>' }
    } if not appointment.hasOutcome
  ]
  }) }}
