{% set complianceText %}
  {%- if (appointment.didTheyComply === true) or (appointment.didTheyComply === false) -%}
    {{ appointment.didTheyComply | toYesNo }}
  {%- elif appointment.wasAbsent === true and appointment.acceptableAbsence === true -%}
    Acceptable absence
  {%- elif appointment.wasAbsent === true and appointment.acceptableAbsence === false -%}
    Unacceptable absence
  {%- elif appointment.absentWaitingEvidence === true -%}
    Absent and waiting for evidence
  {%- endif -%}
{% endset %}

{% set documents %}
  <ul class="govuk-list">
    {% for document in appointment.documents %}
      <li {% if loop.last %}class="govuk-!-margin-bottom-0"{% endif %}><a href="/case/{{ crn }}/personal-details/documents/{{ document.id }}/download" download="{{ doc.name }}">{{ document.name }}</a></li>
    {% endfor %}
    </ul>
{% endset %}

{{ govukSummaryList({
  classes: 'govuk-!-margin-bottom-0' if noMargin else 'govuk-!-margin-bottom-9',
  rows: [
    {
      key: { html: '<span data-qa="compliedLabel">Complied</span>' },
      value: { html: '<span data-qa="compliedValue">' + complianceText + '</span>' },
      actions: {
        items: [
          {
            href: "/case/" + crn + "/handoff/delius",
            text: "Change",
            visuallyHiddenText: "complied"
          }
        ]
      }
    },
    {
      key: { html: '<span data-qa="nonComplianceReasonLabel">Reason for not complying</span>' },
      value: { html: '<span data-qa="nonComplianceReasonValue">' + appointment.nonComplianceReason + '</span>' },
      actions: {
        items: [
          {
            href: "/case/" + crn + "/handoff/delius",
            text: "Change",
            visuallyHiddenText: "reason for not complying"
          }
        ]
      }
    } if appointment.didTheyComply === false,
    {
      key: { html: '<span data-qa="acceptableAbsenceReasonLabel">Reason for absence</span>' },
      value: { html: '<span data-qa="acceptableAbsenceReasonValue">' + appointment.acceptableAbsenceReason + '</span>' if appointment.acceptableAbsence === true },
      actions: {
        items: [
          {
            href: "/case/" + crn + "/handoff/delius",
            text: "Change",
            visuallyHiddenText: "reason for absence"
          }
        ]
      }
    } if appointment.wasAcceptableAbsence === 'Yes',
    {
      key: { html: '<span data-qa="enforcementActionLabel">Enforcement action</span>' },
      value: { html: '<span data-qa="enforcementActionValue">' + appointment.enforcementAction + '</span>' },
      actions: {
        items: [
          {
            href:"/case/" + crn + "/handoff/delius",
            text: "Change",
            visuallyHiddenText: "enforcement action"
          }
        ]
      }
    } if appointment.enforcementAction,
    {
      key: { html: '<span data-qa="rarCategoryLabel">RAR activity</span>' },
      value: { html: '<span data-qa="rarCategoryValue">' + appointment.rarCategory + '</span>' if appointment.rarCategory else '<span data-qa="rarCategoryValue">No</span>'  }
    } if appointment.didTheyComply === true,
    {
      key: { html:  '<span data-qa="documentsLabel">Documents</span>' },
      value: { html: '<span data-qa="documentsValue">' + documents + '</span>' },
      actions: {
        items: [
          {
            href: "/case/" + crn + "/handoff/delius",
            text: "Change",
            visuallyHiddenText: "uploaded documents"
          }
        ]
      }
    } if appointment.documents.length > 0,
    {
      key: { html: '<span data-qa="sensitiveLabel">Sensitive</span>' },
      value: { html: '<span data-qa="sensitiveValue">' + appointment.isSensitive | toYesNo + '</span>' }
    },
    {
      key: { html: '<span data-qa="notesLabel">Notes</span>' },
      value: { html: '<span data-qa="notesValue">' + (appointment.notes | nl2br | safe)  + '</span>' if appointment.notes else '<span data-qa="documentsLabel">None</span>' }
    }
  ]
  }) }}
