{% extends "../../partials/layout.njk" %}
{% set headerPersonName = previousOrderHistory.name.forename + ' ' + previousOrderHistory.name.surname %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "My cases",
                href: "/case"
            },
            {
                text: headerPersonName,
                href: "/case/" + crn,
                attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
            },
            {
                text: "Sentence",
                href: "/case/" + crn + "/sentence"
            },
            {
                text: "Previous Orders",
                href: "/case/" + crn + "/sentence/previous-orders"
            }
        ]
    }) }}
{% endblock %}