{% extends "../../partials/layout.njk" %}
{% set headerPersonName = previousOrderHistory.name.forename + ' ' + previousOrderHistory.name.surname %}
{% set pageTitle = makePageTitle({ pageHeading: ["Contact", "Sentence", "Previous orders"] }) %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "My cases",
      href: "/case"
    },
    {
      text: headerPersonName,
      href: "/case/" + crn,
      attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
    },
    {
      text: "Sentence",
      href: "/case/" + crn + "/sentence"
    },
    {
      text: "Previous Orders"
    }
  ]
}) }}
{% endblock %}

{% block content %}
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-l">Previous orders</h2>
    </div>

    {% for order in previousOrderHistory.previousOrders %}
        <p class="govuk-heading-s govuk-!-margin-bottom-0">
          <a class="govuk-link govuk-link--no-visited-state" href="/case/{{ crn }}/sentence/previous-orders/{{ order.eventNumber }}">
            {{ order.title }}
          </a>
        </p>

        <table class="govuk-table app-table govuk-!-margin-top-0 govuk-!-margin-bottom-3">
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ order.description }}</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">Ended on {{ order.terminationDate | dateWithYear }}</td>
            </tr>
          </tbody>
        </table>
    {% endfor %}
{% endblock %}