{% if deepLinkToContact %}
  <h2 class="govuk-heading-m">Go directly to this appointment on Delius</h2>

  <p>
    <a href="#">Open the corresponding contact on Delius</a><br />
    <span class="govuk-!-font-size-16">Link opens in a new window</span>
  </p>
{% else %}
  <h2 class="govuk-heading-m">Go directly to {{ case.personalDetails.name }} on Delius</h2>

  <p>
    <a href="#">Open {{ case.personalDetails.name }}’s contact log on Delius</a><br />
    <span class="govuk-!-font-size-16">Link opens in a new window</span>
  </p>
{% endif %}

<h2 class="govuk-heading-m">Go to the Delius homepage</h2>

<p>Or you can use the following information to find {{ case.personalDetails.name }} on Delius:</p>

{{ govukSummaryList({
  rows: [
    {
      key: {
        text: 'Name'
      },
      value: {
        text: case.personalDetails.name
      }
    },
    {
      key: {
        text: 'Date of birth'
      },
      value: {
        text: case.personalDetails.dateOfBirth | deliusDateFormat
      }
    },
    {
      key: {
        text: 'CRN'
      },
      value: {
        text: CRN
      }
    },
    {
      key: {
        text: 'PNC'
      },
      value: {
        text: case.PNC
      }
    }
  ]
}) }}

<p>
  <a href="#">Open the Delius homepage</a><br />
  <span class="govuk-!-font-size-16">Link opens in a new window</span>
</p>
