{% extends "../../partials/layout.njk" %}
{% set title = 'Continue on National Delius' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "My cases",
      href: "/case"
    },
    {
      text: personSummary.name | fullName,
      href: "/case/" + crn,
      attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
    },
    {
      text: title
    }
  ]
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl" data-qa="pageHeading">{{title}}</h1>

    <p>You’ll need to use National Delius to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>make changes to data</li>
      <li>view certain information, such as previous orders or NSIs</li>
    </ul>

    <h2 class="govuk-heading-m">Go directly to {{ case.personalDetails.name }} in NDelius</h2>

    <p>
      <a href="{{ deliusDeepLinkUrl('ContactList', crn) }}" target="_blank">Open {{ personSummary.name | fullName }}’s contact log in NDelius</a><br />
      <span class="govuk-!-font-size-16">Link opens in a new window</span>
    </p>

    <h2 class="govuk-heading-m">Go to the NDelius homepage</h2>

    <p>Or you can use the following information to find {{ personSummary.name | fullName }} in NDelius:</p>

    {{ govukSummaryList({
      rows: [
        {
          key: {
            text: 'Name'
          },
          value: {
            text: personSummary.name | fullName
          }
        },
        {
          key: {
            text: 'Date of birth'
          },
          value: {
            text: personSummary.dateOfBirth | deliusDateFormat
          }
        },
        {
          key: {
            text: 'CRN'
          },
          value: {
            text: personSummary.crn
          }
        },
        {
          key: {
            text: 'PNC'
          },
          value: {
            text: personSummary.pnc
          }
        }
      ]
    }) }}

    <p>
      <a href="{{ deliusHomepageUrl() }}" target="_blank">Open the NDelius homepage</a><br />
      <span class="govuk-!-font-size-16">Link opens in a new window</span>
    </p>
  </div>
</div>
{% endblock %}
