.govuk-main-wrapper {
  min-height: 600px;
}

.govuk-link--text-colour {
  color: #0b0c0c;
}

.app-organisation-nav-title {
  float: right;
  padding-top: 19px;
}

.border-bottom:after {
  content: "";
  display: block;
  border-bottom: 1px solid #b1b4b6;
}

.inline-list-from-tablet {
  > li {
    @include govuk-media-query($from: tablet) {
      display: inline;
    }
  }
}