{% set hasAppointmentStartTimePassed = isInThePast(entry.startDateTime) %}
{% set shouldPromptToRecordAnOutcome = (entry.hasOutcome === false) and hasAppointmentStartTimePassed %}
{% set appointment = entry %}

{% set titleHtml %}
  <span class="govuk-heading-s govuk-!-margin-bottom-0">
    <a href="/case/{{ crn }}/activity-log/activity/{{ entry.id }}?category={{ category }}&view=default&requirement={{ requirement }}"">{{ entry.type }} at {{ entry.startDateTime | govukTime }}<span class="govuk-visually-hidden"> on {{ thisDate }}</span></a>
  </span>

  <span class="govuk-!-font-size-16">
    {% include '../schedule/_appointment-prefix.njk' %}
  </span>
{% endset %}

{% set html %}
  {% include './_timeline-notes.njk' %}
{% endset %}

{% set actionsHtml %}
  {% if shouldPromptToRecordAnOutcome %}
    <a href="/case/{{ crn }}/handoff/delius" class="govuk-!-margin-left-2">Record an outcome</a>
  {% else %}
    {{ appComplianceTag({ entry: entry, classes: 'govuk-!-margin-left-2' }) }}
  {% endif %}
{% endset %}

{{ appSummaryCard({
  attributes: {'data-qa': 'timeline' + loop.index + 'Card'},
  titleHtml: titleHtml,
  classes: 'govuk-!-margin-bottom-2',
  html: html,
  actionsHtml: actionsHtml
}) }}
