{% set titleHtml %}
  <a href="/case/{{ crn }}/activity-log/activity/{{ entry.id }}?category={{ category }}&view=default&requirement={{ requirement }}&{{filters.queryStr}}&page={{page}}" class="govuk-!-font-weight-bold">{% include './_communication-title.njk' %} at&nbsp;{{ entry.startDateTime | govukTime }}<span class="govuk-visually-hidden"> on {{ thisDate }}</span></a>
{% endset %}

{% set html %}
  {% include './_timeline-notes.njk' %}
{% endset %}

{{ appSummaryCard({
  attributes: {'data-qa': 'timeline' + loop.index + 'Card'},
  titleHtml: titleHtml,
  classes: 'govuk-!-margin-bottom-2 app-summary-card--white-header',
  html: html,
  actionsHtml: actionsHtml
}) }}
