{% set hasOutcomeBeenConfirmed = entry.didTheyComply === true or entry.rescheduled === true %}
{% set hasAppointmentStartTimePassed = isInThePast(entry.startDateTime) %}
{% set shouldPromptToRecordAnOutcome = entry.hasOutcome === false and entry.wasAbsent === false and hasAppointmentStartTimePassed %}

{% set titleHtml %}
  <p class="govuk-body govuk-!-margin-bottom-1" data-qa="timeline{{ loop.index }}Card">
    <a href="/case/{{ crn }}/activity-log/activity/{{ entry.id }}?category={{ category }}&view=compact&requirement={{ requirement }}"">
      {% if entry.isAppointment === true %}
        {{ appComplianceTag({ entry: entry, classes: 'govuk-!-margin-left-2', compact: true }) }}
        {{ entry.type }} at&nbsp;{{ entry.startDateTime | govukTime }}
      {% elseif entry.isCommunication %}
        {% include './_communication-title.njk' %} at {{ entry.startDateTime | govukTime }}
      {% else %}
        {{ entry.type }}
      {% endif %}
      <span class="govuk-visually-hidden"> on {{ thisDate }}
    </a>
     {% if shouldPromptToRecordAnOutcome %}
        <br /><a href="#" class="govuk-!-font-weight-bold">Record an outcome</a>
     {% endif %}
  </p>
{% endset %}

{% set html %}
  {% include './_timeline-notes.njk' %}
{% endset %}

{% set actionsHtml %}
    {{ appComplianceTag({ entry: entry, classes: 'govuk-!-margin-left-2' }) }}
{% endset %}

{{ titleHtml | safe }}
