{% set titleHtml %}
  <a href="/cases/{{ CRN }}/activity-log/activity/{{ entry.sessionId }}" class="govuk-!-font-weight-bold">{% include './_communication-title.njk' %} at&nbsp;{{ entry.startDateTime | govukTime }}<span class="govuk-visually-hidden"> on {{ thisDate }}</span></a>
{% endset %}

{% set html %}
  {% include './_timeline-notes.njk' %}
{% endset %}

{{ appSummaryCard({
  titleHtml: titleHtml,
  classes: 'govuk-!-margin-bottom-2 app-summary-card--white-header',
  html: html,
  actionsHtml: actionsHtml
}) }}
