{% for entry in entries %}
  {% set lastDate = lastEntry.startDateTime | activityLogDate %}
  {% set thisDate = entry.startDateTime | activityLogDate %}
  {% if lastDate != thisDate %}
    <p class="govuk-!-font-weight-bold govuk-!-font-size-19 {% if loop.index != 1 %}govuk-!-margin-top-7{% endif %} govuk-!-margin-bottom-2">
      {{ thisDate }}
    </p>
  {% endif %}

  {% if entry.isSystemContact %}
    <div class="govuk-hint govuk-!-margin-bottom-2 govuk-!-margin-left-3">
      <a href="/case/{{ crn }}/activity-log/activity/{{ entry.id }}?category={{ category }}&view=default&requirement={{ requirement }}"" class="app-!-inherit-colour">{{ entry.type }}<span class="govuk-visually-hidden"> on {{ thisDate }}</span></a>
    </div>
  {% elseif entry.isAppointment %}
    {% include "./_appointment-timeline-entry.njk" %}
  {% elseif entry.isCommunication %}
    {% include "./_communication-timeline-entry.njk" %}
  {% else %}
    {% include "./_other-timeline-entry.njk" %}
  {% endif %}
  {% set lastEntry = entry %}
{% endfor %}
