{%- from "moj/components/filter/macro.njk" import mojFilter -%}
{%- from "govuk/components/checkboxes/macro.njk" import govukCheckboxes -%}

{% set queryString = '?' + queryParams.join('&') if queryParams.length > 0  else ''  %}

{%- set filterOptionsHtml %}

  {{ govukInput({
    id: 'keywords',
    name: 'keywords',
    label: {
      text: 'Keywords',
      classes: "govuk-label--s govuk-!-font-weight-bold"
    },
    formGroup: {
      classes: "govuk-!-margin-bottom-3",
      attributes: {
        'data-qa': 'keywords'
      }
    },
    value: filters.query.keywords
  }) }}
{{ mojDatePicker({
  id: "dateFrom",
  name: "dateFrom",
  label: {
      text: "Date from",
      classes: "govuk-label--s govuk-!-font-weight-bold"
  },
  formGroup: {
      classes: "govuk-!-margin-bottom-3",
      attributes: {
        'data-qa': 'date-from'
      }
    },
    value: filters.query.dateFrom,
    maxDate: filters.maxDate,
     errorMessage: {
      text: filters.errors.errorMessages.dateFrom.text
     } if filters.errors.errorMessages.dateFrom.text
}) }}
{{ mojDatePicker({
  id: "dateTo",
  name: "dateTo",
  label: {
      text: "Date to",
      classes: "govuk-label--s govuk-!-font-weight-bold"
  },
  formGroup: {
    classes: "govuk-!-margin-bottom-3",
    attributes: {
        'data-qa': 'date-to'
      }
  },
  value: filters.query.dateTo,
  maxDate: filters.maxDate,
  errorMessage: {
    text: filters.errors.errorMessages.dateTo.text
  } if filters.errors.errorMessages.dateTo.text
}) }}
  {{ govukCheckboxes({
    idPrefix: 'compliance',
    name: 'compliance',
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: 'Compliance filters',
        classes: 'govuk-fieldset__legend--s'
      }
    },
    formGroup: {
      attributes: {
        'data-qa': 'compliance'
      }
    },
    items: filters.complianceOptions
  }) }}

  
{% endset -%}

<div class="govuk-grid-column-one-third">
<form method="get" data-qa="filter-form">
{{ mojFilter({
  heading: {
    html: 'Filter activity log',
    classes: 'govuk-heading-s'
  },
  submit: {
    value: "submit",
    attributes: {
        "data-qa": "submit-button"
    }
  },
  selectedFilters: {
    heading: {
      html: '<span class="govuk-heading-s">Selected filters</span>',
      classes: 'govuk-heading-s'
    },
    clearLink: {
      text: 'Clear filters',
      href: '/case/' + crn + '/activity-log'
    },
    categories: [
      {
        items: filters.selectedFilterItems
      }
    ]
  } if filters.selectedFilterItems.length,
  optionsHtml: filterOptionsHtml
}) }}
<input type="hidden" name="submit" value="true">
<input type="hidden" name="view" value="{{view}}">
<input type="hidden" name="page" value="{{page}}">
</form>

</div>
