{% set queryString = '?' + queryParams.join('&') if queryParams.length > 0  else ''  %}

<div class="govuk-grid-column-one-third">
  <div class="app-card">
    {{ govukButton({
      text: 'Add to log',
      href: '/case/' + crn + '/handoff/delius'
    }) }}
    {% if category or requirement %}
      <p>
        <a href="/case/{{ crn }}/activity-log{{ '?view=compact' if compactView }}">Remove all filters</a>
      </p>
    {% endif %}

    <h4 class="govuk-heading-m">
      Compliance filters
    </h4>
    <p>Filter the activity log by National Standard (NS) activities:</p>

    <ul class="govuk-list govuk-!-margin-bottom-0">
      <li><a {% if category == 'national-standard-appointments' %}class="govuk-!-font-weight-bold" aria-current="page"{% endif %} href="/case/{{ crn }}/activity-log/national-standard-appointments{{ queryString }}">Appointments</a></li>
      <li><a {% if category == 'national-standard-appointments-without-outcome' %}class="govuk-!-font-weight-bold" aria-current="page"{% endif %} href="/case/{{ crn }}/activity-log/national-standard-appointments-without-outcome{{ queryString }}">Without an outcome</a></li>
      <li><a {% if category == 'waiting-for-evidence' %}class="govuk-!-font-weight-bold" aria-current="page"{% endif %} href="/case/{{ crn }}/activity-log/waiting-for-evidence{{ queryString }}">Absences waiting for evidence</a></li>
      <li><a {% if category == 'complied-appointments' %}class="govuk-!-font-weight-bold" aria-current="page"{% endif %} href="/case/{{ crn }}/activity-log/complied-appointments{{ queryString }}">Complied appointments</a></li>
      <li><a {% if category == 'all-failure-to-comply-appointments' %}class="govuk-!-font-weight-bold" aria-current="page"{% endif %} href="/case/{{ crn }}/activity-log/all-failure-to-comply-appointments{{ queryString }}">Failures to comply</a></li>
      <li><a {% if category == 'acceptable-absence-appointments' %}class="govuk-!-font-weight-bold" aria-current="page"{% endif %} href="/case/{{ crn }}/activity-log/acceptable-absence-appointments{{ queryString }}">Acceptable absences</a></li>
      <li><a {% if category == 'all-rescheduled' %}class="govuk-!-font-weight-bold" aria-current="page"{% endif %} href="/case/{{ crn }}/activity-log/all-rescheduled{{ queryString }}">Rescheduled</a></li>
      <li><a {% if category == 'warning-letters' %}class="govuk-!-font-weight-bold" aria-current="page"{% endif %} href="/case/{{ crn }}/activity-log/warning-letters{{ queryString  }}">Warning letters</a></li>
    </ul>

    <h4 class="govuk-heading-m">
      Requirement filters
    </h4>
    <p>Filter the activity log by Requirement</p>
    <ul class="govuk-list govuk-!-margin-bottom-0">
    {% for req in requirements %}
    <li><a {% if requirement and (requirement == (req | toSlug)) %}class="govuk-!-font-weight-bold" aria-current="page"{% endif %} href="{{ request.url }}{{ '?requirement='}}{{ req | toSlug }}">{{ req }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>
