<div class="flex flex--space-between">
  <ul class="toggle-menu govuk-!-margin-bottom-6">
  <li class="toggle-menu__list-item">
    {% if compactView %}
      <a href="{{url}}&requirement={{ requirement }}">Default view</a>
    {% else %}
      <span>Default view</span>
    {% endif %}
    </li>
 <li class="toggle-menu__list-item">
 {% if defaultView %}
      <a href="{{url}}&view=compact&requirement={{ requirement }}">Compact view</a>
    {% else %}
      <span>Compact view</span>
    {% endif %}
 </li>
 </ul>
 <p class="govuk-!-margin-bottom-0">Showing 2 results of 2</p>
 </div>

  