{% extends "./caseload.njk" %}
{% set hasCases = caseload.caseload | length > 0 %}
{% set hasStaff = caseload !== null %}
{% set title = 'My cases' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageContent %}
    {% if currentNavSection == 'teamCases' and caseload.team %}
    <div class="govuk-!-padding-top-2 govuk-!-padding-bottom-2 border-bottom">
        <p data-qa="change-team">
            Showing:
            <span class="govuk-body govuk-!-font-weight-bold" data-qa="caseload-names">{{ caseload.team.description }}</span>
            {% if teamCount > 1 %}
                <a class="govuk-link govuk-!-margin-left-3" href="/change-team" data-qa="change-team-link">Change team</a>
            {% endif %}
        </p>
    </div>
    {% endif %}

    {% if hasCases === true or caseload.metaData.sentenceTypes | length > 0 %}
        {% if currentNavSection == 'yourCases' %}

        {% set contactTypeSelectItems = [{text: "All contact types", value: null }] %}
          {% for contactType in caseload.metaData.contactTypes %}
            {% set contactTypeSelectItems = (contactTypeSelectItems.push({
                text: contactType.description,
                value: contactType.code
              }), contactTypeSelectItems) %}
          {% endfor %}

        {% set sentenceTypeSelectItems = [{text: "All sentence types", value: null }] %}
          {% for sentenceType in caseload.metaData.sentenceTypes %}
            {% set sentenceTypeSelectItems = (sentenceTypeSelectItems.push({
                text: sentenceType.description,
                value: sentenceType.code
              }), sentenceTypeSelectItems) %}
          {% endfor %}

            <div class="govuk-filter-background govuk-!-margin-bottom-3">
              <div class="moj-filter__selected-heading">
                <div class="moj-filter__heading-title">
                  <h2 class="govuk-heading-m">Filter my cases</h2>
                </div>
              </div>

              <form name="case-filter" action="/case" method="post" novalidate>
                <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                <div class="govuk-form-group">
                  {{ govukInput({
                    label: {
                      classes: "govuk-label",
                      text: "Name or CRN"
                    },
                    formGroup: {
                      classes: "govuk-select--inline"
                    },
                    id: 'nameOrCrn',
                    name: 'nameOrCrn',
                    classes: 'govuk-input govuk-input--width-10'
                  } | defaultFormInputValues(filter, 'nameOrCrn'))
                  }}

                  {{ govukSelect({
                    label: {
                      text: "Sentence",
                      classes: "govuk-label"
                    },
                    classes: "govuk-select--width-20",
                    formGroup: {
                      classes: "govuk-select--inline"
                    },
                    id: 'sentenceCode',
                    name: 'sentenceCode',
                    items: sentenceTypeSelectItems
                    } | defaultFormSelectValues(filter, 'sentenceCode'))
                  }}

                  {{ govukSelect({
                    label: {
                      text: "Next contact",
                      classes: "govuk-label"
                    },
                    classes: "govuk-select--width-20",
                    formGroup: {
                    classes: "govuk-select--inline"
                    },
                    id: 'nextContactCode',
                    name: 'nextContactCode',
                    items: contactTypeSelectItems
                    } | defaultFormSelectValues(filter, 'nextContactCode'))
                  }}
                </div>
                <div class="govuk-button-group">
                  <button class="govuk-button" data-module="govuk-button">
                    Filter cases
                  </button>
                  <a class="govuk-link" href="/case?clear=true">Clear</a>
                </div>
              </form>
            </div>

            {% if pagination.items | length > 1 %}
               <p data-qa="pagination">Showing {{ pagination.from }} to {{ pagination.to }} of {{ pagination.total }} cases.</p>
            {% endif %}

            {% set rows = [] %}
            {% for case in caseload.caseload %}
               {% set fullName %}
                    {% if case.limitedAccess === true %}
                        <span class="govuk-link--text-colour govuk-link--no-visited-state">Restricted access</span>
                    {% else %}
                        {{ case.caseName.surname }}, {{ case.caseName.forename }}
                    {% endif %}
               {% endset %}
               {% set crn %}
                 {{ case.crn }}
               {% endset %}
               {% set sentenceHtml %}
                {% if case.limitedAccess === true %}
                    Restricted
                {% elseif case.numberOfAdditionalSentences > 0 %}
                    {{ case.latestSentence }}<br><a class="govuk-link" href="./case/{{ case.crn }}/sentence">+ {{ case.numberOfAdditionalSentences }} more</a>
                {% else %}
                    {{ case.latestSentence }}
                {% endif %}
               {% endset %}

               {% set lastContactHtml %}
                   {% if case.limitedAccess === true %}
                       Restricted
                   {% elseif case.previousAppointment %}
                       <a class="govuk-link" href="./case/{{ case.crn }}/activity-log/activity/{{ case.previousAppointment.id }}"> {{ case.previousAppointment.description }} </a><br/><span class="secondary-text">{{ case.previousAppointment.date | dateWithYearShortMonth }}</span>
                   {% endif %}
               {% endset %}

               {% set nextContactHtml %}
                    {% if case.limitedAccess === true %}
                        Restricted
                    {% elseif case.nextAppointment  %}
                        <a class="govuk-link" href="./case/{{ case.crn }}/activity-log/activity/{{ case.nextAppointment.id }}"> {{ case.nextAppointment.description }} </a><br/><span class="secondary-text">{{ case.nextAppointment.date | dateWithYearShortMonth }}</span>
                    {% endif %}
               {% endset %}


               {% set rows = (rows.push(
                 [
                   { html: "<a data-ai-id = 'myCasesPersonNameLink' class='govuk-!-font-weight-bold' href='./case/" + case.crn + "'>" + fullName + "</a></br><span class='govuk-!-font-weight-bold secondary-text'>" + crn + "</span>",
                     attributes: { 'data-qa': 'nameOrCrnValue' + loop.index} },
                   { html: case.dob | dateWithYearShortMonth  + "</br><span class='secondary-text'>Age " + case.dob | yearsSince + "</span>" if case.dob else "Restricted",
                     attributes: { 'data-qa': 'dobValue' + loop.index }
                   },
                   { html: sentenceHtml,
                     attributes: { 'data-qa': 'sentenceValue' + loop.index }
                   },
                   { html: lastContactHtml,
                     attributes: { 'data-qa': 'lastContactValue' + loop.index }
                   },
                   { html: nextContactHtml,
                     attributes: { 'data-qa': 'nextContactValue' + loop.index }
                   }
                 ]
               ), rows) %}
            {% endfor %}

             {%- from "govuk/components/table/macro.njk" import govukTable -%}

             {{ govukTable({
             attributes: {
               'data-module': 'moj-backend-sortable-table',
               'data-qa': 'myCasesCard'
             },
             head: [
               {
                 html: "Name</br>CRN",
                 attributes: {'aria-sort': setSortOrder('nameOrCrn', caseload.sortedBy) , 'col-name': 'nameOrCrn', 'action': 'case'}
               },
               {
                 html: "Date of birth</br>Age",
                 attributes: {'aria-sort': setSortOrder('dob', caseload.sortedBy) , 'col-name': 'dob', 'data-qa': 'dob', 'action': 'case' },
                 classes: "nowrap"
               },
               {
                 text: "Sentence",
                 attributes: {'aria-sort': setSortOrder('sentence', caseload.sortedBy) , 'col-name': 'sentence', 'action': 'case'}
               },
               {
                 text: "Last contact",
                 attributes: {'aria-sort': setSortOrder('lastContact', caseload.sortedBy) , 'col-name': 'lastContact', 'action': 'case' }
               },
               {
                 text: "Next contact",
                 attributes: {'aria-sort': setSortOrder('nextContact', caseload.sortedBy) , 'col-name': 'nextContact', 'action': 'case' }
               }
             ],
             rows: rows
           }) }}

       {% if pagination.items | length > 1 %}
         {{ govukPagination({ previous: { href: pagination.prev }, next: { href: pagination.next }, items: pagination.items }) }}
       {% endif %}
        {% elseif currentNavSection == 'teamCases' %}
             <table class="govuk-table">
               <thead class="govuk-table__head">
                 <tr class="govuk-table__row">
                   <th class="govuk-table__header">Name</th>
                    {% if currentNavSection == 'teamCases' and caseload.team %}
                    <th class="govuk-table__header">Probation practitioner</th>
                    {% endif %}
                 </tr>
               </thead>
               <tbody class="govuk-table__body" data-qa="yourCasesCard">
                 {% for case in caseload.caseload %}
                   <tr class="govuk-table__row">
                     <td class="govuk-table__cell" data-qa="case{{loop.index}}Value">
                       <a data-ai-id="teamCasesPersonNameLink" href="/case/{{ case.crn }}" class="govuk-!-font-weight-bold">{{ case.caseName | fullName }}</a><br />
                       <span class="app-!-font-family-tabular govuk-!-margin-bottom-0">{{ case.crn }}</span>
                     </td>
                      {% if currentNavSection == 'teamCases' and caseload.team %}
                       <td class="govuk-table__cell">
                         {{ case.staff.name | fullName }}</a><br />
                       </td>
                      {% endif %}
                   </tr>
                 {% endfor %}
               </tbody>
             </table>
             {% if pagination.items | length > 1 %}
              {{ govukPagination({ previous: { href: pagination.prev }, next: { href: pagination.next }, items: pagination.items }) }}
             {% endif %}
         {% endif %}
     {% else %}
        {% if currentNavSection == 'teamCases' and teamCount == 0 %}
            {% if hasStaffRecord === false %}
                <p>You do not have a Delius staff record. Please contact the Delius team</p>
             {% else %}
                <p>You are not currently assigned to any team</p>
            {% endif %}
        {% elseif currentNavSection == 'teamCases' and teamCount > 0 %}
            <p>{{ caseload.team.description }} has not been allocated to any cases</p>
        {% elseif currentNavSection == 'yourCases' %}
            {% if hasStaff === false %}
                <p>You do not have a Delius staff record. Please contact the Delius team</p>
            {% else %}
                <p>You have not been allocated to any cases</p>
            {% endif %}
        {% endif %}
        <p><a href="/search">Find a person on probation</a></br>
     {% endif %}
{% endblock %}
