{% extends "./caseload.njk" %}
{% set title = 'Recently viewed cases' %}
{% block pageTitle %}{{ title }}{% endblock %}

{% block pageContent %}

    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Name</br>CRN</th>
            <th scope="col" class="govuk-table__header">Date of birth</br>Age</th>
            <th scope="col" class="govuk-table__header">Tier</th>
            <th scope="col" class="govuk-table__header">Sentence</th>
        </tr>
        </thead>
        <tbody id="tabBody" class="govuk-table__body">
        <meta name="csrf-token" content="{{csrfToken}}">
        <script src="/assets/js/jquery.min.js" nonce="{{ cspNonce }}"></script>
        <script nonce="{{ cspNonce }}">
            const token = document.querySelector('meta[name="csrf-token"]').getAttribute('content')
            let recentCases = JSON.parse(localStorage.getItem('recentCases'))

            $.ajax({
              async: false,
              type: "POST",
              url: "/check-access",
              headers: {
                'CSRF-Token': token
              },
              data: JSON.stringify(recentCases),
              processData: false,
              contentType: "application/json",
              success: function(checkedAndUpdated) {
                recentCases = checkedAndUpdated
              }
            });

            function lao(check, value, replacement = 'Restricted') {
              if(check === true){
                return replacement
              }else{
                return value
              }
            }

            if (recentCases != null) {
                recentCases.forEach((recentCase) => {
                        const tableBody = document.getElementById("tabBody")

                        const row = document.createElement("tr")
                        row.className = "govuk-table__row"

                        const rd1 = document.createElement("td")
                        rd1.className = "govuk-table__cell"
                        const anchor = document.createElement("a")
                        if(recentCase.limitedAccess === true){
                          anchor.className = "govuk-!-font-weight-bold govuk-link--text-colour "
                        }else{
                          anchor.className = "govuk-!-font-weight-bold"
                        }
                        anchor.href = "./case/" + recentCase.crn
                        anchor.text = lao(recentCase.limitedAccess, recentCase.name, "Restricted access")
                        anchor.setAttribute("data-ai-id", "recentCasesPersonNameLink")
                        const span1 = document.createElement("span")
                        span1.className = "govuk-!-font-weight-bold secondary-text"
                        span1.innerText = recentCase.crn
                        rd1.appendChild(anchor)
                        rd1.appendChild(document.createElement("br"))
                        rd1.appendChild(span1)

                        const rd2 = document.createElement("td")
                        rd2.className = "govuk-table__cell"
                        rd2.innerText = lao(recentCase.limitedAccess,recentCase.dob)
                        const span2 = document.createElement("span")
                        span2.className = "secondary-text"
                        span2.innerText = lao(recentCase.limitedAccess,"Age " + recentCase.age, '')
                        rd2.appendChild(document.createElement("br"))
                        rd2.appendChild(span2)


                        const rd3 = document.createElement("td")
                        rd3.className = "govuk-table__cell"
                        rd3.innerText = lao(recentCase.limitedAccess,recentCase.tierScore)

                        let rd4 = document.createElement("td")
                        rd4.className = "govuk-table__cell"

                        if (recentCase.numberOfAdditionalSentences > 0) {
                            const anchorSentence = document.createElement("a")
                            anchorSentence.className ="govuk-link"
                            if (recentCase.limitedAccess !== true){
                                anchorSentence.href = "./case/" + recentCase.crn + "/sentence"
                            }
                            anchorSentence.text = lao(recentCase.limitedAccess,"+ " + recentCase.numberOfAdditionalSentences + " more")
                            rd4.innerText = lao(recentCase.limitedAccess, recentCase.sentence)
                            rd4.appendChild(document.createElement("br"))
                            rd4.appendChild(anchorSentence)

                        } else {
                            rd4.innerText = lao(recentCase.limitedAccess,recentCase.sentence)
                        }


                        row.appendChild(rd1)
                        row.appendChild(rd2)
                        row.appendChild(rd3)
                        row.appendChild(rd4)
                        tableBody.appendChild(row)
                    }
                )
            }
        </script>
    </table>
{% endblock %}