{% extends "../../partials/edit-contact-details.njk" %}
{% set title = 'Edit contact details for ' + personalDetails.name.forename %}
{% set pageTitle = makePageTitle({ pageHeading: ["Edit contact details", "Personal details"] }) %}

{% block editForm %}
 {{ govukInput({
                value: personalDetails.telephoneNumber if personalDetails.telephoneNumber,
                label: {
                    text: "Phone number",
                    classes: "govuk-label--s govuk-!-font-weight-bold"
                },
                hint: {
                    text: "For example, 01632 960 000"
                },
                id: 'phoneNumber',
                name: 'phoneNumber',
                formGroup: {
                    attributes: {
                        'data-qa': 'phoneNumber'
                    }
                },
                classes: "govuk-input--width",
                errorMessage: {
                    text: errorMessages.phoneNumber,
                    attributes: {
                        'data-qa': 'phoneNumberError'
                    }
                } if errorMessages.phoneNumber
            }) }}

            {{ govukInput({
                value: personalDetails.mobileNumber if personalDetails.mobileNumber,
                label: {
                    text: "Mobile number",
                    classes: "govuk-label--s govuk-!-font-weight-bold"
                },
                hint: {
                    text: "For example, 07771 900 900"
                },
                id: 'mobileNumber',
                name: 'mobileNumber',
                formGroup: {
                    attributes: {
                        'data-qa': 'mobileNumber'
                    }
                },
                classes: "govuk-input",
                errorMessage: {
                    text: errorMessages.mobileNumber,
                    attributes: {
                        'data-qa': 'mobileNumberError'
                    }
                } if errorMessages.mobileNumber
            }) }}


            {{ govukInput({
                value: personalDetails.email if personalDetails.email,
                label: {
                    text: "Email address",
                    classes: "govuk-label--s govuk-!-font-weight-bold"
                },
                hint: {
                    text: "For example, name@example.com"
                },
                id: 'emailAddress',
                name: 'emailAddress',
                formGroup: {
                    attributes: {
                        'data-qa': 'emailAddress'
                    }
                },
                classes: "govuk-input",
                errorMessage: {
                    text: errorMessages.emailAddress,
                    attributes: {
                        'data-qa': 'emailAddressError'
                    }
                } if errorMessages.emailAddress
            }) }}
{% endblock %}
