{% extends "../../partials/layout.njk" %}
{% set title = personRiskFlag.riskFlag.description %}
{% set removed = personRiskFlag.riskFlag.removed %}
{% set flag = personRiskFlag.riskFlag %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "My cases",
      href: "/case"
    },
    {
      text: personRiskFlag.personSummary.name | fullName,
      href: "/case/" + crn
    },
    {
      text: "Risk",
      href: "/case/" + crn + "/risk"
    },
    {
      text: "Removed risk flags",
      href: "/case/" + crn + "/risk/removed-risk-flags"
    } if removed,
    {
      text: title
    }
  ] | removeEmpty
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-6" data-qa="pageHeading">
      <span class="govuk-caption-xl">{{ 'Removed risk flag' if removed else 'Risk flag' }}</span>
      {{ title }}
    </h1>
  </div>
</div>

<!-- {{ govukButton({
  text: 'Review or amend flag',
  href: '#'
}) }} -->
{% for removal in flag.removalHistory %}

{% set removedFlagSummaryList %}
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Date removed"
        },
        value: {
          html: '<span data-qa="removalDateValue">' + removal.removalDate | dateWithYear + ' by ' + removal.removedBy | fullName + '</span>'
        }
      } if removed,
      {
        key: {
          text: "Why it was removed"
        },
        value: {
          html: '<span data-qa="removalNotesValue">' + removal.notes + '</span>' if removal.notes else '<span data-qa="removalNotesValue">No notes given</span>'
        }
      } if removed
    ]
  }) }}
{% endset %}

{% if removed %}
  {{ appSummaryCard({
    attributes: {'data-qa': 'riskFlagRemovedCard'},
    titleText: "Flag removed",
    classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
    html: removedFlagSummaryList
  }) }}
{% endif %}

{% endfor %}

{% set nextReviewDate %}
  <span data-qa="nextReviewDateValue">
    {{ flag.nextReviewDate | dateWithYear }}
    {% if(isInThePast(flag.nextReviewDate)) %}
        <strong class="govuk-tag app-compliance-tag govuk-tag--red govuk-!-margin-left-2">
          Overdue
        </strong>
    {% endif %}
  </span>
{% endset %}

{% set aboutThisFlagSummaryList %}
  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Notes"
        },
        value: {
          html: '<span data-qa="riskFlagNotesValue">' + personRiskFlag.riskFlag.notes + '</span>' if personRiskFlag.riskFlag.notes else '<span data-qa="riskFlagNotesValue">No notes</span>'
        },
        actions: {
          items: [
            {
              href: "/case/" + crn + "/handoff/delius",
              text: "Change",
              visuallyHiddenText: "notes"
            }
          ]
        }
      },
      {
        key: {
          text: "Next review"
        },
        value: {
          html: nextReviewDate
        },
        actions: {
          items: [
            {
              href: "/case/" + crn + "/handoff/delius",
              text: "Review risk flag"
            }
          ]
        }
      } if not removed,
      {
        key: {
          text: "Most recent review"
        },
        value: {
          html: '<span data-qa="mostRecentReviewDateValue">' + personRiskFlag.riskFlag.mostRecentReviewDate | dateWithYear + ' by ' + personRiskFlag.riskFlag.createdBy | fullName + '</span>' if personRiskFlag.riskFlag.mostRecentReviewDate else '<span data-qa="mostRecentReviewDateValue">Not reviewed yet</span>'
        },
        actions: {
          items: [
            {
              href: "/case/" + crn + "/handoff/delius",
              text: "View review"
            }
          ]
        } if flag.mostRecentReviewDate
      },
      {
        key: {
          text: "Date added"
        },
        value: {
          html: '<span data-qa="createdDateValue">' + personRiskFlag.riskFlag.createdDate | dateWithYear + " by " + personRiskFlag.riskFlag.createdBy | fullName + '</span>'
        }
      }
    ]
  }) }}
{% endset %}


{{ appSummaryCard({
  attributes: {'data-qa': 'riskFlagCard'},
  titleText: "Before it was removed" if removed else "About this flag",
  classes: 'govuk-!-margin-bottom-8 app-summary-card--large-title',
  html: aboutThisFlagSummaryList,
  actions: {
    items: [
      {
        href: "/case/" + crn + "/handoff/delius",
        text: "Remove this flag in NDelius"
      }
    ]
  } if not removed
}) }}

  <p><a class="govuk-link--no-visited-state" target="_blank" href="https://justiceuk.sharepoint.com/sites/HMPPS-HQ-NDST-ATW/Shared%20Documents/Forms/AllItems.aspx?csf=1&web=1&e=iEFxub&CID=82b28f43%2Dc021%2D465a%2Dbce3%2D11c8eb64c791&FolderCTID=0x012000789EB5A24184864D90305EEA82661286&id=%2Fsites%2FHMPPS%2DHQ%2DNDST%2DATW%2FShared%20Documents%2FNational%20Delius%20Guidance%2FNational%20Delius%20Case%20Recording%20Instructions%2FCRI019%20Registrations&sortField=Modified&isAscending=false&viewid=330f3b0b%2D9b57%2D4427%2Dad3f%2D8d5cffdc3885">
      View guidance on risk flags in the NDelius SharePoint</a> (opens in new tab)</p>
{% endblock %}
