{% extends "../_form.njk" %}
{%- from "moj/components/date-picker/macro.njk" import mojDatePicker -%}

{% set title = 'Enter the date and time of the appointment' %}
{% set backLink = change if change else '/case/' + crn + '/arrange-appointment/' + id + '/location' %}
{% set disabilities = [] %}
{% set employment = '' %}
{% set dependents = [] %}
{% set provisions = [] %}

  {% for disability in case.disabilities.disabilities %}
    {% set disabilities = (disabilities.push(disability), disabilities) %}
  {% endfor %}

  {% for provision in case.provisions.provisions %}
     {% set provisions = (provisions.push(provision), provisions) %}
  {% endfor %}

  {% for circumstance in case.circumstances.circumstances %}
    {% if circumstance.type === 'Employment' %}
      {% set employment = circumstance.subType %}
    {% endif %}
    {% if circumstance.type === 'Dependents' %}
      {% set dependents = (dependents.push(circumstance.subType), dependents) %}
    {% endif %}
 {% endfor %}

{% set circumstancesHTML %}
<dl class="govuk-!-static-margin-0">
<dt class="govuk-body govuk-!-static-margin-bottom-1"><b>Disability</b></dt>
<dd class="govuk-!-static-margin-left-0 govuk-!-static-margin-bottom-3">
{% if disabilities.length > 0 %}
{% for disability in disabilities %}
{% if loop.index > 1 %}<br>{% endif %}{{ disability }}
{% endfor %}
{% else %}
None known
{% endif %}
</dd>
<dt class="govuk-body govuk-!-static-margin-bottom-1"><b>Reasonable adjustments</b></dt>
<dd class="govuk-!-static-margin-left-0 govuk-!-static-margin-bottom-3">
{% if provisions.length > 0 %}
{% for provision in provisions %}
{% if loop.index > 1 %}<br>{% endif %}{{ provision }}
{% endfor %}
{% else %}
None known
{% endif %}
</dd>
<dt class="govuk-body govuk-!-static-margin-bottom-1"><b>Dependents</b></dt>
<dd class="govuk-!-static-margin-left-0 govuk-!-static-margin-bottom-0">
{% if dependents.length > 0 %}
{% for dependent in dependents %}
{% if loop.index > 1 %}<br>{% endif %}{{ dependent }}
{% endfor %}
{% else %}
None known
{% endif %}
</dd>
</dl>
   {% endset %}
{% block form %}
   {% if errors %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
 {{ govukErrorSummary({ titleText: "There is a problem", errorList: errors.errorList }) }}
{% endif %}
  {{ govukDetails({
    summaryText: case.name.forename + "’s circumstances",
    html: circumstancesHTML
  }) }}
  {{ mojDatePicker({
    label: {
        text: "Date",
        classes: "govuk-label--s"
    },
    hint: {
      text: "For example, 17/5/2024."
    },
    minDate: minDate
  } | decorateFormAttributes(['appointments', crn, id, 'date'])) }}

  {{ govukInput({
    label: {
      text: "Start time",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-5 time-field"
  } | decorateFormAttributes(['appointments', crn, id, 'start-time'])) }}

  {{ govukInput({
    label: {
      text: "End time",
      classes: "govuk-label--s"
    },
    classes: "govuk-input--width-5 time-field"
  } | decorateFormAttributes(['appointments', crn, id, 'end-time'])) }}
  <input type="hidden" name="_minDate" value="{{minDate}}">
{% endblock %}