{% extends "../_form.njk" %}
{% set title = 'What appointment are you arranging?' %}
{% set backLink = '#' %}
{% block heading %}{% endblock %}
{% block form %}
{% if errors %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
 {{ govukErrorSummary({ titleText: "There is a problem", errorList: errors.errorList }) }}
{% endif %}
  {{ govukRadios({
    fieldset: {
      legend: {
        text: title,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l govuk-!-margin-bottom-6"
      }
    },
    items: [
      {
        text: "Home visit",
        value: "Home visit"
      },
      {
        text: "Initial appointment - home visit",
        value: "Initial appointment - home visit"
      },
      {
        text: "Initial appointment - in office",
        value: "Initial appointment - in office"
      },
      {
         text: "Planned office visit",
         value: "Planned office visit"
      }
    ]
 } | decorateFormAttributes(['appointments', crn, id, 'type'])) }}
  {% endblock %}