{% extends "../partials/layout.njk" %}

{% set pageTitle = makePageTitle({ pageHeading: "Accessibility" }) %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop">
            <h1 class="govuk-heading-l" data-qa="pageHeading">Accessibility</h1>
            <h2 class="govuk-heading-m">Accessibility statement under construction</h2>
            <p>We are developing this content and will publish it when it is ready.</p>
            <p><a href="https://mcmw.abilitynet.org.uk/" target="_blank" rel="noopener noreferrer">AbilityNet has advice on making your device easier to use</a> if you have a disability.</p>
        </div>
    </div>
{% endblock %}
