{% extends "../partials/case.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% set pageTitle = applicationName + " - Schedule" %}
{% set currentNavSection = 'timeline' %}
{% set currentSectionName = 'Activity log' %}
{% set headerPersonName = personActivity.personSummary.name.forename + ' ' + personActivity.personSummary.name.surname %}
{% set headerCRN = personActivity.personSummary.crn %}
{% set headerDob = personActivity.personSummary.dateOfBirth  %}
{% set headerGender = personActivity.personSummary.gender  %}
{% set personSummary = personActivity.personSummary %}
{% set entries = activityLog(personActivity.activities, category or 'all-previous-activity', requirement) %}
{% set requirements = getDistinctRequirements(personActivity.activities) %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "My cases",
          href: "/case"
        },
        {
          text: headerPersonName,
          href: "/case/" + crn
        },
        {
          text: currentSectionName
        }
      ]
    }) }}
     {% if filters.errors %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
 {{ govukErrorSummary({ titleText: "There is a problem", errorList: filters.errors.errorList }) }}
{% endif %}
{% endblock %}

{% switch category %}
  {% case 'national-standard-appointments' %}
    {% set title = 'National Standard appointments' %}
    {% set emptyText = 'There are no National Standard appointments' %}
  {% case 'national-standard-appointments-without-outcome' %}
    {% set title = 'National Standard appointments without an outcome' %}
    {% set emptyText = 'There are no National Standard appointments needing an outcome' %}
  {% case 'complied-appointments' %}
    {% set title = 'Complied appointments' %}
    {% set emptyText = 'There are no complied appointments' %}
  {% case 'acceptable-absence-appointments' %}
    {% set title = 'Acceptable abscences' %}
    {% set emptyText = 'There have been no acceptable absences' %}
  {% case 'waiting-for-evidence' %}
    {% set title = 'Absences waiting for evidence' %}
    {% set emptyText = 'There are no absences waiting for evidence' %}
  {% case 'all-failure-to-comply-appointments' %}
    {% set title = 'Failures to comply within 12 months' %}
    <!-- If breach was proven within last 12 months: 'Failures to comply since breach' %} -->
    {% set emptyText = 'There have been no failures to comply in the last 12 months' %}
  {% case 'warning-letters' %}
    {% set title = 'Warning letters' %}
    {% set emptyText = 'There have been no warning letters' %}
  {% case 'all-rescheduled' %}
    {% set title = 'Rescheduled appointments' %}
    {% set emptyText = 'There are no rescheduled appointments' %}
  {% default %}
    {% set title = 'Activity log' %}
    {% set emptyText = 'There has been no activity' %}
{% endswitch %}

{% block pageContent %}

<div class="govuk-grid-row govuk-!-margin-top-4">
  {% include "./activity-log/_filters.njk" %}
  <div class="govuk-grid-column-two-thirds">
    {% if not (title == 'Activity log') %}
      <h2 class="govuk-heading-m govuk-!-margin-bottom-2">
        {{ title }}
      </h2>
    {% endif %}
    {% if personActivity.activities.length %}
    <div class="flex flex--space-between">
 {% include "./activity-log/_switch-views.njk" %}
 <p class="govuk-!-margin-bottom-0">Showing {{ personActivity.activities.length }} result{% if personActivity.activities.length !== 1 %}s{% endif %} of {{ personActivity.totalResults }}</p>
 </div>
    {% set entries = activityLog(entries, category or 'all-previous-activity') %}
    {% if entries.length > 0 %}
      {% if compactView %}
        {% include "./activity-log/_compact-view.njk" %}
      {% else %}
        {% include "./activity-log/_default-view.njk" %}
      {% endif %}
    {% else %}
      <p class="govuk-!-margin-top-4">{{ emptyText }}</p>
    {% endif %}

{% if personActivity.totalPages > 1 %}
<div class="govuk-!-margin-top-8">
 {{ appPagination({
  currentPage: query.page | int,
  totalPages: personActivity.totalPages,
  url: filters.baseUrl + filters.queryStrPrefix + filters.queryStr + filters.queryStrSuffix + 'view=' + view + '&'
  }) }}
</div>
{% endif %}
{% else %}
<h3 class="govuk-heading-s">0 search results found</h3>
<p>Improve your search by:</p>
<ul class="govuk-list govuk-list--bullet">
<li>removing filters</li>
<li>double-checking the spelling</li>
<li>removing special characters like characters and accent letters</li>
</ul>
{% endif %}
  </div>
</div>
{% endblock %}
