{% extends "../partials/case.njk" %}
{% set pageTitle = makePageTitle({ pageHeading: "Interventions" }) %}
{% set currentNavSection = 'interventions' %}
{% set currentSectionName = 'Interventions' %}
{% set headerPersonName = personSummary.name.forename + ' ' + personSummary.name.surname %}
{% set headerCRN = crn %}
{% set headerDob = personSummary.dateOfBirth  %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "My cases",
          href: "/case"
        },
        {
          text: headerPersonName,
          href: "/case/" + crn,
          attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
        },
        {
          text: currentSectionName
        }
      ]
    }) }}
{% endblock %}

{% block pageContent %}
    <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-margin-top-8 govuk-!-margin-bottom-5">CRS referrals</h2>

    {% set rows = [] %}
    {% for intervention in interventions %}
        {% if intervention.isDraft === false %}
            {% set status %}
                {% if intervention.referralConcludedAt %}
                   <span class="govuk-tag govuk-tag--green" align="center">Completed</span>
                {% else %}
                   <span class="govuk-tag govuk-tag--yellow" align="center">Open</span>
                {% endif %}
            {% endset %}

            {% set rows = (rows.push(
              [
                {
                    html: '<span data-qa = "referralSentAt' + loop.index + 'Value">' + intervention.referralSentAt | dateWithYear + '</span>',
                    classes: "columnWidth30 verticalAlign"
                } if intervention.referralSentAt,
                {
                    html: '<span data-qa = "referralReferenceNumber' + loop.index + 'Value">' + intervention.referenceNumber + '</span>',
                    classes: "columnWidth15 verticalAlign"
                } if intervention.referenceNumber,
                {
                    html: '<span data-qa = "referralInterventionTitle' + loop.index + 'Value">' + intervention.interventionTitle + '</span>',
                    classes: "columnWidth15 verticalAlign"
                } if intervention.interventionTitle,
                {
                    html: '<span data-qa = "referralProvider' + loop.index + 'Value">' + intervention.serviceProviderName + '</span>',
                    classes: "columnWidth15 verticalAlign"
                } if intervention.serviceProviderName,
                {
                    html: '<span data-qa = "caseworker' + loop.index + 'Value">' + intervention.responsibleOfficer + '</span>',
                    classes: "columnWidth15 verticalAlign"
                } if intervention.responsibleOfficer,
                {
                    html: '<span data-qa = "referralStatus' + loop.index + 'Value">' + status + '</span>',
                    classes: "columnWidth15 verticalAlign"
                },
                {
                    html: '<a href="' + interventionsLink(intervention.id) + '" target="_blank" aria-label="View referral ' + intervention.referenceNumber + ' for ' + intervention.interventionTitle + '">View</a>' ,
                    classes: "columnWidth15 verticalAlign"
                }
              ]
            ), rows) %}
        {% endif %}
    {% endfor %}

    {{ govukTable({
     attributes: {
       'data-module': 'moj-sortable-table',
       'data-qa': 'interventionsCard'
     },
     head: [
        {
            text: "Date Sent",
            attributes: {
                "aria-sort": "ascending"
            }
        },
        {
            text: "Referral",
            attributes: {
                "aria-sort": "none"
            }
        },
        {
            text: "Intervention Type",
            attributes: {
                "aria-sort": "none"
            }
        },
        {
            text: "Provider",
            attributes: {
                "aria-sort": "none"
            }
        },
        {
            text: "Caseworker",
            attributes: {
                "aria-sort": "none"
            }
        },
        {
            text: "Status",
            attributes: {
                "aria-sort": "none"
            }
        },
        {
            text: "Action",
            classes: "non-sortable__sortable-table-header"
        }
     ],
     rows: rows
   }) }}
{% endblock %}