{% extends "../partials/case.njk" %}
{% set pageTitle = applicationName + " - Sentence Details" %}
{% set currentNavSection = 'sentence' %}
{% set currentSectionName = 'Sentence' %}
{% set headerPersonName = sentenceDetails.personSummary.name.forename + ' ' + sentenceDetails.personSummary.name.surname %}
{% set headerCRN = crn %}
{% set headerDob = sentenceDetails.personSummary.dateOfBirth  %}
{% set headerGender = sentenceDetails.personSummary.gender  %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "My cases",
          href: "/case"
        },
        {
          text: headerPersonName,
          href: "/case/" + crn
        },
        {
          text: currentSectionName
        }
      ]
    }) }}
{% endblock %}

{% block pageContent %}

{% endblock %}



