{% extends "../partials/case.njk" %}
{% set pageTitle = makePageTitle({ pageHeading: ["Sentence", "Licence condition"] }) %}
{% set currentNavSection = 'sentence' %}
{% set currentSectionName = 'Sentence' %}
{% set headerPersonName = licenceNoteDetails.personSummary.name.forename + ' ' + licenceNoteDetails.personSummary.name.surname %}
{% set headerCRN = crn %}
{% set headerDob = licenceNoteDetails.personSummary.dateOfBirth  %}
{% set headerGender = licenceNoteDetails.personSummary.gender  %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "My cases",
          href: "/case"
        },
        {
          text: headerPersonName,
          href: "/case/" + crn,
          attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
        },
        {
          text: currentSectionName,
          href: "/case/" + crn + "/sentence"
        }
      ]
    }) }}
{% endblock %}

{% block pageContent %}
    {% set licenceConditionNote %}
        {{ govukSummaryList({
        rows: [
          {
            key: { text: 'Subtype' },
            value: { text: licenceNoteDetails.licenceCondition.subTypeDescription }
          } if licenceNoteDetails.licenceCondition.subTypeDescription,
          {
            key: { text: 'Imposed (Release) date'},
            value: { text:  licenceNoteDetails.licenceCondition.imposedReleasedDate | dateWithYear  }
          } if licenceNoteDetails.licenceCondition.imposedReleasedDate,
          {
            key: { text: 'Actual start date'},
            value: { text:  licenceNoteDetails.licenceCondition.actualStartDate | dateWithYear  }
          } if licenceNoteDetails.licenceCondition.actualStartDate,
          {
            key: { text: 'Note added by'},
            value: { text: licenceNoteDetails.licenceCondition.licenceConditionNote.createdBy }
          } if licenceNoteDetails.licenceCondition.licenceConditionNote.createdBy,
          {
            key: { text: 'Date added'},
            value: { text:  licenceNoteDetails.licenceCondition.licenceConditionNote.createdByDate | dateWithYear  }
          } if licenceNoteDetails.licenceCondition.licenceConditionNote.createdByDate,
          {
            key: { text: 'Note'},
            value: { html: '<p class="govuk-body line-break">' + licenceNoteDetails.licenceCondition.licenceConditionNote.note + '<\p>' }
          } if licenceNoteDetails.licenceCondition.licenceConditionNote.note
        ]
      }) }}
    {% endset %}

    {% if licenceNoteDetails.licenceCondition %}
        {{ appSummaryCard({
          titleText: licenceNoteDetails.licenceCondition.mainDescription,
          attributes: {'data-qa': 'licenceConditionNoteCard'},
          classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
          html: licenceConditionNote
        }) }}
    {% endif %}
{% endblock %}

