{% extends "../partials/case.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% set pageTitle = applicationName + " - Overview" %}
{% set currentNavSection = 'overview' %}
{% set currentSectionName = 'Overview' %}
{% set appointmentsWithoutAnOutcomeCount = overview.appointmentsWithoutOutcome %}
{% set waitingForEvidenceCount = overview.absencesWithoutEvidence  %}
{% set headerPersonName = overview.personalDetails.name.forename + ' ' + overview.personalDetails.name.surname %}
{% set headerCRN = crn %}
{% set headerDob = overview.personalDetails.dateOfBirth  %}
{% set headerGender = overview.personalDetails.preferredGender  %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "My cases",
          href: "/case"
        },
        {
          text: headerPersonName
        }
      ]
    }) }}
{% endblock %}

{% block pageContent %}
    {% if appointmentsWithoutAnOutcomeCount > 0 or waitingForEvidenceCount > 0 %}
        {% set html %}
            <h2 class="govuk-heading-m">You have appointments that need attention</h2>
            <ul class="govuk-list govuk-!-margin-bottom-0">
            {% if appointmentsWithoutAnOutcomeCount > 0 %}
                <li>
                    <a href="/case/{{ crn }}/record-an-outcome/outcome">You need to record an outcome for {{ appointmentsWithoutAnOutcomeCount }} {{ 'appointment' if appointmentsWithoutAnOutcomeCount == 1 else 'appointments' }}</a>
                </li>
            {% endif %}
            {% if waitingForEvidenceCount > 0 %}
                <li>
                    <a href="/case/{{ crn }}/record-an-outcome/evidence">You have {{ waitingForEvidenceCount }} {{ 'absence that is' if waitingForEvidenceCount == 1 else 'absences that are' }} waiting for evidence</a>
                </li>
            {% endif %}
            </ul>
        {% endset %}
        {{ govukNotificationBanner({ html: html }) }}
    {% endif %}
    {% set schedule %}
        {% set nextApp = overview.schedule.nextAppointment %}
            {% set nextAppointmentText %}
                {% if nextApp %}
                    {{ nextApp['date'] | dateWithDayAndWithoutYear }} at {{ nextApp['date'] | govukTime }} ({{ nextApp['description'] }})
                {% else %}
                    No appointments scheduled
                {% endif %}
        {% endset %}
        {{ govukSummaryList({
            rows: [
              {
                key: { html: '<span data-qa="nextAppointmentLabel">Next appointment</span>'},
                value: { html: '<span data-qa="nextAppointmentValue">' + nextAppointmentText + '</span'}
              }
            ]
            }) }}
    {% endset %}

    {{ appSummaryCard({
      titleText: 'Appointments',
      classes: ['govuk-!-margin-bottom-6 app-summary-card--large-title'],
      attributes: {'data-qa': 'scheduleCard'},
      html: schedule,
      actions: {
        items: [
          {
            text: 'View appointments',
            href: crn + '/appointments'
          }
        ]
      }
    }) }}

    {% set personalDetails %}
        {% set dateOfBirthAndAge %}
            {{ overview.personalDetails.dateOfBirth | dateWithYear }} ({{ overview.personalDetails.dateOfBirth | yearsSince }} years old)
            {% set contactNumber %}
                {% if overview.personalDetails.telephoneNumber  %}
                    {{ overview.personalDetails.telephoneNumber }}<br />
                {% endif %}
                {% if overview.personalDetails.mobileNumber  %}
                    {{ overview.personalDetails.mobileNumber }}<br />
                {% endif %}
            {% endset %}
        {% endset %}
        {% set circumstances %}
            {% if overview.personalDetails.personalCircumstances.length > 0 %}
                <ul class="govuk-list">
                {% for circumstance in overview.personalDetails.personalCircumstances %}
                    <li>
                        {{ circumstance.type }}: {{ circumstance.subType }}
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                None
            {% endif %}
        {% endset %}

        {% set disabilities %}
            {% set commaJoiner = joiner(', ') %}
            {% if overview.personalDetails.disabilities.length > 0 %}
                {% for adjustment in overview.personalDetails.disabilities %}{{ commaJoiner() }}{{ adjustment.description }}{% endfor %}
            {% else %}
                No disabilities
            {% endif %}
        {% endset %}
        {% set adjustments %}
            {% set commaJoiner = joiner(', ') %}
            {% if overview.personalDetails.provisions.length > 0 %}
                {% for provisions in overview.personalDetails.provisions %}{{ commaJoiner() }}{{ provisions.description }}{% endfor %}
            {% else %}
                No adjustments
            {% endif %}
        {% endset %}

        {{ govukSummaryList({
        rows: [
          {
            key: { html: '<span data-qa="nameLabel">Name</span>'},
            value: { html: '<span data-qa="nameValue">' + overview.personalDetails.name | fullName + '</span>'}
          },
          {
            key: { html: '<span data-qa="preferredNameLabel">Preferred name/Known as</span>'},
            value: { html: '<span data-qa="preferredNameValue">' + overview.personalDetails.preferredName + '</span>'}
          } if (overview.personalDetails.preferredName),
          {
            key: { html: '<span data-qa="preferredGenderLabel">Gender</span>'},
            value: { html: '<span data-qa="preferredGenderValue">' + overview.personalDetails.preferredGender + '</span>'}
          },
          {
            key: { html: '<span data-qa="dateOfBirthAndAgeLabel">Date of birth</span>'},
            value: { html: '<span data-qa="dateOfBirthAndAgeValue">' + dateOfBirthAndAge + '</span>'}
          },
          {
            key: { html: '<span data-qa="contactNumberLabel">Contact number</span>'},
            value: { html: '<span class="app-!-font-family-tabular" data-qa="contactNumberValue">' + contactNumber + '</span>'}
          },
          {
            key: { html: '<span data-qa="currentCircumstancesLabel">Current circumstances</span>'},
            value: { html: '<span data-qa="currentCircumstancesValue">' + circumstances + '</span>'}
          },
          {
            key: { html: '<span data-qa="disabilitiesLabel">Disabilities</span>'},
            value: { html: '<span data-qa="disabilitiesValue">' + disabilities + '</span>'}
          },
          {
            key: { html: '<span data-qa="adjustmentsLabel">Adjustments</span>'},
            value: { html: '<span data-qa="adjustmentsValue">' + adjustments + '</span>'}
          }

        ]
      }) }}
    {% endset %}

    {{ appSummaryCard({
      titleText: 'Personal details',
      attributes: {'data-qa': 'personalDetailsCard'},
      classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
      html: personalDetails,
      actions: {
        items: [
          {
            text: 'View all personal details',
            href: crn + '/personal-details'
          }
        ]
      }
    }) }}

    {% set hasRiskAssessment = risks.assessedOn %}
    {% set risk %}
      {% set riskToThemselves %}
        {% set currentRisksToThemselves = getCurrentRisksToThemselves(risks.riskToSelf) %}
        {% set previousRisksToThemselves = getPreviousRisksToThemselves(risks.riskToSelf) %}

        {% if currentRisksToThemselves.length == 1 %}
          <p>Immediate concerns about {{ currentRisksToThemselves[0] }}</p>
        {% elseif currentRisksToThemselves.length > 0 %}
          <p>Immediate concerns about:</p>
          <ul class="govuk-list govuk-list--bullet">
            {% for risk in currentRisksToThemselves %}
              <li>{{ risk }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if previousRisksToThemselves.length == 1 %}
          <p>Previous concerns about {{ previousRisksToThemselves[0] }}</p>
        {% elseif previousRisksToThemselves.length > 0 %}
          <p>Previous concerns about:</p>
          <ul class="govuk-list govuk-list--bullet">
            {% for risk in previousRisksToThemselves %}
              <li>{{ risk }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% if currentRisksToThemselves.length == 0 and previousRisksToThemselves.length == 0 %}
          <p>No concerns</p>
        {% endif %}
      {% endset %}
      {% set riskFlags %}
        {% set riskFlagList = overview.registrations %}
        {% if riskFlagList.length > 0 %}
            <ul class="govuk-list">
                {% for risk in riskFlagList %}
                  <li>{{ risk }}</li>
                {% endfor %}
            </ul>
        {% else %}
          No risk flags
        {% endif %}
      {% endset %}
      {% set riskLastUpdated %}
        {% if hasRiskAssessment %}
          <br />
          <span class="govuk-!-font-size-16 govuk-!-font-weight-regular">
            Last updated {{ risks.assessedOn | dateWithYearShortMonth }}
          </span>
        {% endif %}
      {% endset %}
      {% set overallRosh %}
      {% if hasRiskAssessment %}
      <table><tr>
      <td class="govuk-tag {{ getTagClass(risks.summary.overallRiskLevel) }}" align="center">{{ risks.summary.overallRiskLevel + ' risk of serious harm' | replace('_',' ') }}</td>
      </table>
      {% else %}
        There is no OASys risk assessment
      {% endif %}
      {% endset %}

      {{ govukSummaryList({
        rows: [
          {
            key: { html: '<span data-qa="roshLabel">Risk of serious harm (ROSH) in the community' + riskLastUpdated + '</span>' },
            value: { html: '<span data-qa="roshValue">' + overallRosh  + '</span>'}
          },
          {
            key: { html: '<span data-qa="harmToSelfLabel">Risk of serious harm to themselves' + riskLastUpdated + '</span>'},
            value: { html: '<span data-qa="harmToSelfValue">' + riskToThemselves if hasRiskAssessment else 'There is no OASys risk assessment' + '</span>' }
          },
          {
            key: { html: '<span data-qa="riskFlagsLabel">Risk flags</span>' },
            value: { html: '<span data-qa="riskFlagsValue">' + riskFlags + '</span>'}
          }
        ]
      }) }}
    {% endset %}

    {{ appSummaryCard({
      titleText: 'Risk',
      attributes: {'data-qa': 'riskCard'},
      classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
      html: risk,
      actions: {
        items: [
          {
            text: 'View all risk details',
            href: crn + '/risk'
          }
        ]
      }
    }) }}


    {% set numberOfSentences = overview.sentences.length %}
    {% if numberOfSentences > 0 %}
    {% for sentence in overview.sentences %}
        {% set sentenceHtml %}
            {% set order %}
                {% if sentence.order  %}
                    {% if loop.first %}
                        <input type="hidden" id="sentence" name="sentence" value="{{ sentence.order.description }}">
                    {% endif %}
                    {{ sentence.order.description }}<br />
                    From {{ sentence.order.startDate | dateWithNoDay }} to {{ sentence.order.endDate | dateWithNoDay }}<br />
                    {{  sentence.order.startDate | monthsOrDaysElapsed }} elapsed
                {% endif %}
            {% endset %}
            {% set requirements %}
                {% if sentence.rar %}
                {{ sentence.rar.completed }} of {{ sentence.rar.totalDays }} RAR days completed
                {% endif %}
            {% endset %}
            {% set mainOffence %}
                {% if loop.first %}
                    <input type="hidden" id="mainOffence" name="mainOffence" value="{{ sentence.mainOffence.description }}">
                {% endif %}
                {{ sentence.mainOffence.description }}
                {%- if sentence.additionalOffences.length > 0 %}
                    {%- switch sentence.additionalOffences.length -%}
                        {%- case 1 -%}
                            <br/>1 additional offence
                        {%- default -%}
                            <br/>{{ sentence.additionalOffences.length }} additional offences
                    {%- endswitch -%}
                {% endif %}
            {% endset %}
            {{ govukSummaryList({
            rows: [
              {
                key: { html: '<span data-qa="mainOffenceLabel">Main offence</span>'},
                value: { html: '<span data-qa="mainOffenceValue">' + mainOffence + '</span>'}
              },
              {
                key: { html: '<span data-qa="orderLabel">Order</span>'},
                value: { html: '<span data-qa="orderValue">' + order + '</span>'}
              },
              {
                key: { html: '<span data-qa="requirementsLabel">Requirements</span>' },
                value: { html: '<span data-qa="requirementsValue">' + requirements + '</span>' }
              }
            ]
          }) }}
        {% endset %}

        {{ appSummaryCard({
            titleText: sentence.order.description,
            classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
            attributes: {'data-qa': 'sentence' + sentence.eventNumber + 'Card'},
            html: sentenceHtml,
            actions: {
              items: [
                {
                  text: 'View all sentence details',
                  href: crn + '/sentence'
                }
              ]
            }
        }) }}
    {%- endfor %}
    {{ appSummaryCard({
            titleText: 'Sentence',
            classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
            attributes: {'data-qa': 'sentence' + sentence.eventNumber + 'Card'},
            html: sentenceHtml
        }) }}
    {% else %}
    {% set sentenceHtml %}
{{ govukSummaryList({
            rows: [
              {
                key: { html: '<span data-qa="orderLabel">Order</span>'},
                value: { html: '<span data-qa="orderValue">No active sentence</span>'}
              } 
            ]
          }) }}
    {%- endset %}
   {{ appSummaryCard({
            titleText: 'Sentence',
            classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
            attributes: {'data-qa': 'sentenceCard'},
            html: sentenceHtml
        }) }}
{%- endif %}
    {% set activityAndCompliance %}
        {% set previousOrders %}
            {% if overview.previousOrders %}
                {% set total%}
                {%- switch overview.previousOrders.count -%}
                    {%- case 0 -%}
                        No previous orders
                    {%- default -%}
                        {{ overview.previousOrders.count }} previous orders
                {%- endswitch -%}
                {% endset %}
                {% set breaches %}
                {%- switch overview.previousOrders.breaches -%}
                    {%- case 0 -%}
                        No breaches on previous orders
                    {%- default -%}
                        {{ overview.previousOrders.breaches }} breaches on previous orders
                {%- endswitch -%}
                {% endset %}
                {{ total}} ({{ breaches }})
            {% endif %}
        {% endset %}
        {% set compliance %}
            {% if overview.compliance.breachStarted %}
              {%- switch overview.compliance.priorBreachesOnCurrentOrderCount -%}
                {%- case 0 -%}
                  No prior breaches on current order
                {%- case 1 -%}
                  1 prior breach on current order
                {%- default -%}
                  {{ overview.compliance.priorBreachesOnCurrentOrderCount }} prior breaches on current order
              {%- endswitch -%}
            {% else %}
              {%- switch overview.compliance.breachesOnCurrentOrderCount -%}
                {%- case 0 -%}
                  No breaches on current order
                {%- case 1 -%}
                  1 breach on current order
                {%- default -%}
                  {{ overview.compliance.breachesOnCurrentOrderCount }} breaches on current order
              {%- endswitch -%}
            {% endif %}
            <p>
                <a href={{crn}}/compliance>View all compliance details</a>
            </p>
        {% endset %}
        {% set activity %}
            {% if overview.activity %}
                {{ overview.activity.nationalStandardAppointmentsCount }} national standard appointments <br/>
                {{ overview.activity.outcomeNotRecordedCount }} without a recorded outcome <br/>
                {{ overview.activity.compliedAppointmentsCount }} compiled <br/>
                {{ overview.activity.acceptableAbsenceCount }} acceptable absences <br/>
                {{ overview.activity.rescheduledCount }} rescheduled<br/>
                <p>
                    <a href={{crn}}/activity-log>View all activity details</a>
                </p>
            {% else %}
                None
            {% endif %}
        {% endset %}
        {{ govukSummaryList({
        rows: [
          {
            key: { html: '<span data-qa="previousOrdersLabel">Previous orders</span>'},
            value: { html: '<span data-qa="previousOrdersValue">' + previousOrders + '</span>'}
          },
          {
            key: { html: '<span data-qa="complianceLabel">Compliance</span>'},
            value: { html: '<span data-qa="complianceValue">' + compliance + '</span>'}
          },
          {
            key: { html: '<span data-qa="activityLogLabel">Activity log</span>'},
            value: { html: '<span data-qa="activityLogValue">' + activity + '</span>'}
          }
        ]
      }) }}
    {% endset %}
    {{ appSummaryCard({
      titleText: 'Activity and compliance',
      attributes: {'data-qa': 'activityAndComplianceCard'},
      classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
      html: activityAndCompliance
    }) }}
    {% set miscellaneous %}
        {% set tier %}
            {% if tierCalculation.tierScore %}
                <p>{{ tierCalculation.tierScore }}</p>
                <p><a href="{{ tierLink(crn) }}" target="_blank">View all tier information</a></br>
                <span class="govuk-!-font-size-16">Link opens in a new window</span></p>
            {% else %}
                No tier information available
            {% endif %}
        {% endset %}
        {{ govukSummaryList({
            rows: [
              {
                  key: { html: '<span data-qa="tierLabel">Tier<br><span class="govuk-!-font-size-16 govuk-!-font-weight-regular">' + tierCalculation.calculationDate | lastUpdatedDate + '</span></span>' },
                  value: { html: '<span data-qa="tierValue">' + tier + '</span>' }
              }
            ]
        }) }}
    {% endset %}
    {{ appSummaryCard({
      titleText: 'Miscellaneous',
      attributes: {'data-qa': 'miscellaneousCard'},
      classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
      html: miscellaneous
    }) }}

    <input type="hidden" id="caseCrn" name="crn" value="{{ crn }}">
    <input type="hidden" id="name" name="name" value="{{ overview.personalDetails.name.surname }},{{ overview.personalDetails.name.forename }}">
    <input type="hidden" id="dob" name="dob" value="{{ headerDob | dateWithYear }}">
    <input type="hidden" id="age" name="age" value="{{ headerDob | yearsSince }}">
    <input type="hidden" id="tier" name="age" value="{{ tierCalculation.tierScore }}">
    <input type="hidden" id="numberOfAdditionalSentences" name="numberOfSentences" value="{{ numberOfSentences - 1 }}">


    <script nonce="{{ cspNonce }}">
        const crn = document.getElementById("caseCrn").value
        const name = document.getElementById("name").value
        const dob = document.getElementById("dob").value
        const age = document.getElementById("age").value
        const tier = document.getElementById("tier").value
        const sentence = document.getElementById("sentence") ? document.getElementById("sentence").value : document.getElementById("mainOffence") ? "Pre-sentence" : "No active sentence"
        const numberOfAdditionalSentences = document.getElementById("numberOfAdditionalSentences").value

        let recentCases = []
        let recentCase

        if (localStorage.getItem("recentCases") != null) {
            recentCases = JSON.parse(localStorage.getItem('recentCases'))

            recentCase = recentCases.findIndex(obj => obj.crn === crn)

            if (recentCase !== -1) {
                recentCases.splice(recentCase, 1);
            }
        }

        recentCase = {
            name: name,
            crn: crn,
            dob: dob,
            age: age,
            tierScore: tier,
            sentence: sentence,
            numberOfAdditionalSentences: numberOfAdditionalSentences
        };

        recentCases.unshift(recentCase)
        recentCases.splice(25)
        localStorage.setItem('recentCases', JSON.stringify(recentCases))
    </script>
{% endblock %}
