{% extends "../partials/case.njk" %}
{% set pageTitle = applicationName + " - Previous orders" %}
{% set currentNavSection = 'sentence' %}
{% set headerPersonName = previousOrderHistory.name.forename + ' ' + previousOrderHistory.name.surname %}
{% set headerCRN = crn %}

{% block beforeContent %}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Your cases",
      href: "/search"
    },
    {
      text: headerPersonName,
      href: "/case/" + crn
    },
    {
      text: "Sentence",
      href: "/case/" + crn + "/sentence"
    }
  ]
}) }}
{% endblock %}
