{% extends "../partials/case.njk" %}
{% set pageTitle = makePageTitle({ pageHeading: ["Sentence", "Probation history"] }) %}
{% set currentNavSection = 'sentence' %}
{% set currentSectionName = 'Sentence' %}
{% set headerPersonName = sentenceDetails.personSummary.name.forename + ' ' + sentenceDetails.personSummary.name.surname %}
{% set headerCRN = crn %}
{% set headerDob = sentenceDetails.personSummary.dateOfBirth  %}
{% set headerGender = sentenceDetails.personSummary.gender  %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "My cases",
          href: "/case"
        },
        {
          text: headerPersonName,
          href: "/case/" + crn,
          attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
        },
        {
          text: currentSectionName,
          href: "/case/" + crn + "/sentence"
        },
        {
          text: "Probation history"
        }
      ]
    }) }}
{% endblock %}

{% block pageContent %}
    {%- from "moj/components/side-navigation/macro.njk" import mojSideNavigation -%}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-quarter">
          {% set items = [] %}
          {% set eventNumber = sentenceDetails.sentence.offenceDetails.eventNumber %}
          {% for sentence in sentenceDetails.sentenceSummaryList %}
            {% set items = items.concat(
                    {
                        "text": sentence.description,
                        href: "/case/" + crn + "/sentence?number=" + sentence.eventNumber
                    }
                )
            %}
          {% endfor %}

          {% set items = items.concat(
              {
                  "text": "Probation History",
                  href: "/case/" + crn + "/sentence/probation-history",
                  active: true
              }
            )
          %}

          {{ mojSideNavigation({
              label: 'Side navigation',
              items: items,
              classes: 'govuk-!-padding-top-0'
            }) }}
      </div>
      <div class="govuk-grid-column-three-quarters">
        {% set sentence = sentenceDetails.sentence %}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2" id="probation-history" data-qa="pageHeading">Probation history</h2>
        {% set history %}
            {% set previousOrders %}
                {% if sentenceDetails.probationHistory.numberOfTerminatedEvents == 1 %}
                  <a href="/case/{{ crn }}/sentence/previous-orders">1 previous order</a><br />
                  Last ended on {{ sentenceDetails.probationHistory.dateOfMostRecentTerminatedEvent | dateWithYearShortMonth }}
                {% elseif sentenceDetails.probationHistory.numberOfTerminatedEvents > 1 %}
                  <a href="/case/{{ crn }}/sentence/previous-orders">{{ sentenceDetails.probationHistory.numberOfTerminatedEvents }} previous orders</a><br />
                  Last ended on {{ sentenceDetails.probationHistory.dateOfMostRecentTerminatedEvent | dateWithYearShortMonth }}
                {% else %}
                  No previous orders
                {% endif %}
            {% endset %}

            {% set previousProfessionalContacts %}
                {% if sentenceDetails.probationHistory.numberOfProfessionalContacts > 0 %}
                 <a href="/case/{{ crn }}/sentence/probation-history/staff-contacts/#previous">{{ sentenceDetails.probationHistory.numberOfProfessionalContacts }} previous contact{% if sentenceDetails.probationHistory.numberOfProfessionalContacts != 1 %}s{% endif %}</a>
                {% else %}
                  No previous staff contacts
                {% endif %}
            {% endset %}

            {% set probationHistory %}
                {{ govukSummaryList({
                    rows: [
                      {
                        key: { text: "Previous orders" },
                        value: { html: previousOrders }
                      },
                      {
                        key: { text: "Previous breaches" },
                        value: { text: '1 previous breach' if sentenceDetails.probationHistory.numberOfTerminatedEventBreaches == 1 else sentenceDetails.probationHistory.numberOfTerminatedEventBreaches + ' previous breaches' }
                      },
                      {
                        key: { text: "Previous staff contacts" },
                        value: { html: previousProfessionalContacts }
                      }
                    ]
                }) }}

            {% endset %}
        {% endset %}

        {{ appSummaryCard({
            attributes: {'data-qa': 'probationHistoryCard'},
            titleText: 'Previous probation details',
            classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
            html: probationHistory
         }) }}
      </div>
    </div>
{% endblock %}



