{% extends "../partials/case.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "../_components/rosh-widget/macro.njk" import roshWidget %}
{% from "../_components/mappa-widget/macro.njk" import mappaWidget %}
{% from "../_components/predictor-timeline/macro.njk" import predictorTimeline %}
{% from "../_components/predictor-score/macro.njk" import predictorScore %}
{% from "../_components/predictor-timeline-item/macro.njk" import predictorTimelineItem %}

{% set pageTitle = makePageTitle({ pageHeading: "Risk" }) %}
{% set currentNavSection = 'risk' %}
{% set currentSectionName = 'Risk' %}
{% set headerPersonName = personRisk.personSummary.name | fullName %}
{% set headerCRN = crn %}
{% set headerDob = personRisk.personSummary.dateOfBirth  %}
{% set headerGender = personRisk.personSummary.gender  %}
{% set hasRiskAssessment = risks.assessedOn %}
{% set highScoring = groupByLevel("SEVERE", needs.identifiedNeeds) %}
{% set lowScoring = groupByLevel("STANDARD", needs.identifiedNeeds) %}
{% set withoutScore = needs.notIdentifiedNeeds %}
  {% if risks.assessedOn %}
      {% set lastUpdatedDate = 'Last updated (OASys):' + risks.assessedOn | dateWithYear %}
  {% endif %}

{% set highScoringNeeds %}
  {% if highScoring.length > 0 %}
    <ul class="govuk-list">
      {% for need in highScoring %}
        <li>
          {{ need.name }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    None
  {% endif %}
{% endset %}

{% set lowScoringNeeds %}
  {% if lowScoring.length > 0 %}
    <ul class="govuk-list">
      {% for need in lowScoring %}
        <li>
          {{ need.name }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    None
  {% endif %}
{% endset %}

{% set noScoreNeeds %}
  {% if withoutScore.length > 0 %}
    <ul class="govuk-list">
      {% for need in withoutScore %}
        <li>
          {{ need.name }}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    None
  {% endif %}
{% endset %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "My cases",
          href: "/case"
        },
        {
          text: headerPersonName,
          href: "/case/" + crn,
          attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
        },
        {
          text: currentSectionName
        }
      ]
    }) }}
{% endblock %}

{% block pageContent %}
<div class="govuk-grid-row govuk-!-margin-top-4">
  <div class="govuk-grid-column-two-thirds">
    {% if hasRiskAssessment %}
    <div class='govuk-!-margin-bottom-4'>
      <h2 class="govuk-heading-m score-header govuk-!-margin-bottom-0" data-analytics-event-scroll="RSR score">
        Criminogenic needs
      </h2>
      {{ govukSummaryList({
        rows: [
          {
            key: { html: '<span data-qa="highScoringNeedsLabel">High-scoring areas from the assessment</span>' },
            value: { html: '<span data-qa="highScoringNeedsValue">' + highScoringNeeds + '</span>' }
          },
          {
            key: { html: '<span data-qa="lowScoringNeedsLabel">Low-scoring areas from the assessment</span>' },
            value: { html: '<span data-qa="lowScoringNeedsValue">' + lowScoringNeeds + '</span>'}
          },
          {
            key: { html: '<span data-qa="noScoreNeedsLabel">Areas without a need score</span>' },
            value: { html: '<span data-qa="noScoreNeedsValue">' + noScoreNeeds + '</span>'}
          }
        ]
      }) }}
   
      {% if needs.assessedOn %}
     <p class="govuk-!-margin-bottom-2"> <a class="govuk-link--no-visited-state" target="_blank" rel="external noopener noreferrer" href="{{oasysLink}}" data-qa="oasysViewRiskAssessmentLink">
    View the full risk assessment on OASys (opens in new tab)</a></p>
    {% endif %}
       <p><a class="govuk-link--no-visited-state" target="_blank" rel="external noopener noreferrer" href="{{oasysLink}}" data-qa="oasysCreateRiskAssessmentLink">Create a risk assessment on OASys (opens in new tab)</a>
      </p>
    </div>
    <div class='govuk-!-margin-bottom-4'>
      {% if predictorScores.scores.RSR.score %}
        <h2 class="govuk-heading-m score-header govuk-!-margin-bottom-0" data-analytics-event-scroll="RSR score">
          RSR (risk of serious recidivism)
        </h2>
        <div aria-hidden="true">
          {{ predictorScore(predictorScores.scores.RSR) }}
        </div>
        <div class='govuk-visually-hidden'>Score: {{ predictorScores.scores.RSR.score }}%</div>
      {% endif %}
      {% if predictorScores.scores.OGRS %}
        <h2 class="govuk-heading-m score-header govuk-!-margin-bottom-1" data-analytics-event-scroll="OGRS score">
          OGRS (offender group reconviction scale)
        </h2>
        <div class="govuk-grid-row  govuk-!-margin-bottom-4">
          <div class="govuk-grid-column-three-quarters-from-desktop">
              <div class="flex-mobile">
                <div class='flex__item-one-third-mobile'>
                  <h3 class='govuk-heading-s govuk-!-margin-bottom-1'>1 year</h3>
                  <div class='govuk-body' data-qa='ogrs-1yr'>{{ predictorScores.scores.OGRS.oneYear }}%</div>
                </div>
                <div class='flex__item-one-third-mobile'>
                  <h3 class='govuk-heading-s govuk-!-margin-bottom-1'>2 year</h3>
                  <div class='govuk-body' data-qa='ogrs-2yr'>{{ predictorScores.scores.OGRS.twoYears }}%</div>
                </div>
                <div class='flex__item-one-third-mobile'>
                  <h3 class='govuk-heading-s govuk-!-margin-bottom-1'>Level</h3>
                  <div class='govuk-body' data-qa='ogrs-level'>{{ riskLevelLabel(predictorScores.scores.OGRS.level) }}</div>
                </div>
              </div>
          </div>
        </div>
      {% endif %}

      {% if predictorScores.scores.OSPI.score or predictorScores.scores.OSPC.score %}
        <h2 class="govuk-heading-m score-header govuk-!-margin-bottom-0" data-analytics-event-scroll="OSP score">
          OSP (OASys sexual predictor scores)
        </h2>
      {% endif %}

      {% if predictorScores.scores.OSPI.score %}
        <h3 class="govuk-heading-s score-header govuk-!-margin-bottom-0" data-analytics-event-scroll="OSP/I score">
          OSP/I (internet-related offences) or OSP/IIC (internet-involved child offences)
        </h3>
        <div aria-hidden="true">
          {{ predictorScore(predictorScores.scores.OSPI) }}
        </div>
        <div class='govuk-visually-hidden'>Score: {{ predictorScores.scores.OSPI.score }}%</div>
      {% endif %}

      {% if predictorScores.scores.OSPC.score %}
        <h3 class="govuk-heading-s score-header govuk-!-margin-bottom-0" data-analytics-event-scroll="OSP/C score">
          OSP/C (contact-related sexual reoffending) or OSP/DC (direct contact)
        </h3>
        <div aria-hidden="true">
          {{ predictorScore(predictorScores.scores.OSPC) }}
        </div>
        <div class='govuk-visually-hidden'>Score: {{ predictorScores.scores.OSPC.score }}%</div>
      {% endif %}

      {% if predictorScores.scores.OVP %}
        <h2 class="govuk-heading-m score-header govuk-!-margin-bottom-1" data-analytics-event-scroll="OVP score">
          OVP (OASys violent predictor score)
        </h2>
        <div class="govuk-grid-row  govuk-!-margin-bottom-4">
          <div class="govuk-grid-column-three-quarters-from-desktop">
              <div class="flex-mobile">
                <div class='flex__item-one-third-mobile'>
                  <h3 class='govuk-heading-s govuk-!-margin-bottom-1'>1 year</h3>
                  <div class='govuk-body' data-qa='ovp-1yr'>{{ predictorScores.scores.OVP.oneYear }}%</div>
                </div>
                <div class='flex__item-one-third-mobile'>
                  <h3 class='govuk-heading-s govuk-!-margin-bottom-1'>2 year</h3>
                  <div class='govuk-body' data-qa='ovp-2yr'>{{ predictorScores.scores.OVP.twoYears }}%</div>
                </div>
                <div class='flex__item-one-third-mobile'>
                  <h3 class='govuk-heading-s govuk-!-margin-bottom-1'>Level</h3>
                  <div class='govuk-body' data-qa='ovp-level'>{{ riskLevelLabel(predictorScores.scores.OGRS.level) }}</div>
                </div>
              </div>
          </div>
        </div>
      {% endif %}

      {% if predictorScores.scores.OGP %}
        <h2 class="govuk-heading-m score-header govuk-!-margin-bottom-0" data-analytics-event-scroll="OGP score">
          OGP (OASys general predictor score)
        </h2>
        <div class="govuk-grid-row  govuk-!-margin-bottom-4">
          <div class="govuk-grid-column-three-quarters-from-desktop">
              <div class="flex-mobile">
                <div class='flex__item-one-third-mobile'>
                  <h3 class='govuk-heading-s govuk-!-margin-bottom-1'>1 year</h3>
                  <div class='govuk-body' data-qa='ogp-1yr'>{{ predictorScores.scores.OGP.oneYear }}%</div>
                </div>
                <div class='flex__item-one-third-mobile'>
                  <h3 class='govuk-heading-s govuk-!-margin-bottom-1'>2 year</h3>
                  <div class='govuk-body' data-qa='ogp-2yr'>{{ predictorScores.scores.OGP.twoYears }}%</div>
                </div>
                <div class='flex__item-one-third-mobile'>
                  <h3 class='govuk-heading-s govuk-!-margin-bottom-1'>Level</h3>
                  <div class='govuk-body' data-qa='ogp-level'>{{ riskLevelLabel(predictorScores.scores.OGP.level) }}</div>
                </div>
              </div>
          </div>
        </div>
      </div>
      {% endif %}
      {% else %}
        {% set html %}
          <h2 class="govuk-heading-m">There is no OASys Layer 3 risk assessment for {{ personRisk.personSummary.name | fullName }}</h2>
          {% include './risk/_no-oasys-risk-assessment.njk' %}
        {% endset %}
        {{ govukNotificationBanner({ html: html, attributes: { 'data-qa': 'noOasysRiskBanner' } }) }}
      {% endif %}
{#      TBD {% include './risk/_risk-in-the-community.njk' %}#}
{#      TBD {% include './risk/_risk-to-themselves.njk' %}#}
      {% include './risk/_risk-flags.njk' %}

      <h2 class="govuk-heading-m score-header govuk-!-margin-bottom-0" data-analytics-event-scroll="RSR score">
        Offender personality disorder (OPD)
      </h2>
      {% if personRisk.opd.eligible === true %}
      <div class="text-secondary govuk-body govuk-!-margin-bottom-2 govuk-hint">
        Last updated (NDelius): {{ personRisk.opd.date | dateWithYear }}
      </div>
      <p class='govuk-body' data-qa='ogp-missing'>Eligible</p>
      {% else %}
         <p class='govuk-body' data-qa='ogp-missing'>Not eligible</p>
         </div>
      {% endif %}
   </div>   

  <div class="govuk-grid-column-one-third">
      {{ roshWidget(risksWidget) }}
      {{ mappaWidget({ mappa: personRisk.mappa, lastUpdatedDate: personRisk.mappa.startDate | dateWithYearShortMonth }) }}
    <div class="govuk-body predictor-timeline__heading">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-2">OASys score history</h2>
        {% if predictorScores.error and caseSummary.roshHistory.error %}
          <p class='govuk-body' data-qa='timeline-missing'>RoSH levels and predictor scores cannot be retrieved from NDelius or OASys. Double-check NDelius and OASys.</p>
        {% elseif predictorScores.error %}
          <p class='govuk-body' data-qa='score-history-missing'>Predictor scores cannot be retrieved from OASys. Double-check OASys.</p>
        {% elseif roshHistory.error %}
          <p class='govuk-body' data-qa='rosh-history-missing'>Historical RoSH levels cannot be retrieved from NDelius. Double-check NDelius and OASys.</p>
        {% endif %}
        {% if timeline.length %}
          <div>
            <button type='button' data-js="predictor-timeline__toggle-all" class="reset-button link-button govuk-link">Open all<span class='govuk-visually-hidden'> scores in timeline</span> </button>
          </div>
        {% else %}
          <p class='govuk-body' data-qa='rosh-history-missing'>No risk scores have been recorded</p>
        {% endif %}
    </div>
    {% if timeline.length %}
      {{ predictorTimeline(timeline, 'x') }}
    {% endif %}
  </div>
</div>
{% endblock %}