{% extends "../partials/case.njk" %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% set pageTitle = applicationName + " - Schedule" %}
{% set currentNavSection = 'schedule' %}
{% set currentSectionName = 'Schedule' %}
{% set headerPersonName = schedule.personSummary.name.forename + ' ' + schedule.personSummary.name.surname %}
{% set headerCRN = schedule.personSummary.crn %}
{% set appointments = scheduledAppointments(schedule.appointments) %}
{% set scheduledAppointmentsCount = appointments | length %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Your cases",
          href: "/search"
        },
        {
          text: headerPersonName,
          href: "/case/" + crn
        },
        {
          text: currentSectionName
        }
      ]
    }) }}
{% endblock %}

{% block pageContent %}

{% if scheduledAppointmentsCount > 0 %}
<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Date</th>
      <th class="govuk-table__header" style="width: 20%">Time</th>
      <th class="govuk-table__header" style="width: 50%">Appointment</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% for entry in appointments %}
      <tr class="govuk-table__row" data-qa="appointment{{loop.index}}">
        <td class="govuk-table__cell">
          {% if isToday(entry.startDateTime) %}
            <div class="app-table-cell-highlight">
              <strong>Today</strong><br />
              {{ entry.startDateTime | dayOfWeek }} {{ entry.startDateTime | dateWithYear }}
            </div>
          {% else %}
            {{ entry.startDateTime | dayOfWeek }} {{ entry.startDateTime | dateWithYear }}
          {% endif %}
        </td>
        <td class="govuk-table__cell">{{ entry.startDateTime | govukTime }} to {{ entry.endDateTime | govukTime }}</td>
        <td class="govuk-table__cell"><a href="/case/{{ crn }}/schedule/appointment/{{ entry.id }}">{{ entry.type }} with {{ entry.officerName | fullName }}</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p>There are no appointments scheduled</p>
{% endif %}
{{ govukButton({
  html: 'Arrange an appointment',
  href: '/case/' + crn + '/handoff/delius',
  classes: 'govuk-!-margin-bottom-6'
}) }}

{% endblock %}