{% extends "../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "probation/case-search/macro.njk" import caseSearch %}

{% set pageTitle = applicationName + " - Search" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}
    {{ caseSearch({ id: "search", results: searchResults }) }}
{% endblock %}
