{% extends "../partials/case.njk" %}
{% set pageTitle = applicationName + " - Sentence Details" %}
{% set currentNavSection = 'sentence-details' %}
{% set currentSectionName = 'Sentence' %}
{% set headerPersonName = sentenceDetails.name.forename + ' ' + sentenceDetails.name.surname %}
{% set headerCRN = crn %}

{% block beforeContent %}
    {{ govukBreadcrumbs({
      items: [
        {
          text: "Your cases",
          href: "/search"
        },
        {
          text: headerPersonName,
          href: "/case/" + crn
        },
        {
          text: currentSectionName
        }
      ]
    }) }}
{% endblock %}

{% block pageContent %}
    {% set offence %}
      {{ govukSummaryList({
        rows: [
          {
            key: { text: "Main offence" },
            value: { html: ' aaa' }
          }
        ]
      }) }}
    {% endset %}

    {{ appSummaryCard({
      titleText: 'Offence',
      classes: 'govuk-!-margin-bottom-6 app-summary-card--large-title',
      html: offence
    }) }}
{% endblock %}



