{% extends "../../../partials/layout.njk" %}
{% set headerPersonName = previousOrderDetail.name.forename + ' ' + previousOrderDetail.name.surname %}
{% set title =  previousOrderDetail.title %}
{% set pageTitle = makePageTitle({ pageHeading: ["Sentence", "Previous orders", title] }) %}


{% block beforeContent %}
    {{ govukBreadcrumbs({
        items: [
            {
                text: "My cases",
                href: "/case"
            },
            {
                text: headerPersonName,
                href: "/case/" + crn,
                attributes: { "data-ai-id": "breadcrumbPersonNameLink" }
            },
            {
                text: "Sentence",
                href: "/case/" + crn + "/sentence"
            },
            {
                text: "Previous orders",
                href: "/case/" + crn + "/sentence/previous-orders"
            }
        ]
    }) }}
{% endblock %}
{% block content %}
<h1 class="govuk-heading-l" data-qa="pageHeading">
  <span class="govuk-caption-l">Previous orders</span>
  {{ title }}
</h1>
    {% set sentence = previousOrderDetail.sentence %}
    {% if sentence %}
        {% include '../_sentence-offence.njk' %}
        {% include '../_conviction.njk' %}
        {% include '../_sentence.njk' %}
    {% endif %}
{% endblock %}